{% extends "layouts/main-logged.html" %}

{% block pageTitle %}Agreement summary: get funding to improve animal health and welfare{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <style type="text/css">
        @media only screen and (min-device-width: 581px) {
        .content {
            width: 580px !important;
        }
        }
        body { margin:0 !important; }
        div[style*="margin: 16px 0"] { margin:0 !important; }
    </style>


    <table role="presentation" class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;max-width: 580px;width: 100% !important;" width="100%">
        <tbody>
            <tr>
                <td height="30"><br></td>
            </tr>

            <tr>
                <td width="10" valign="middle"><br></td>

                <td style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; max-width: 560px;">

                <!-- Defra logo -->
                <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-text-align-center">
                <img src="/public/images/defra-logo.svg" alt="Descriptive alt text" width="200" class="custom-image-class">
                </div>


                <h1 class="govuk-heading-m">Agreement summary: get funding to improve animal health and welfare</h1>

                <p class="govuk-body">You have applied for funding for:</p>

                <ul>
                    <li><a href="guidance-apply#animal-health-and-welfare-review">animal health and welfare reviews</a></li>
                    <li><a href="guidance-apply#endemic-disease-follow-up">endemic disease follow-ups</a></li>
                </ul>

                <p class="govuk-body">By applying for this funding, you have entered into an agreement with the Rural Payments Agency. The agreement will be governed by the <a class="govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/get-funding-to-improve-animal-health-and-welfare-terms-and-conditions">Terms and conditions</a></p>                      

                <h2 class="govuk-heading-s">Agreement details</h2>

                <!-- Anne Insert table here -->
                
                <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Agreement number:</th>
                    <td class="govuk-table__cell">IAHW-F43A-0785</th>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Agreement holder:</th>
                    <td class="govuk-table__cell">D I Shaw - 106734901</th>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Agreement start date:</th>
                    <td class="govuk-table__cell">14 October 2024</th>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review and follow-up deadline:</th>
                    <td class="govuk-table__cell">19 June 2027. You must do all your reviews and follow-ups by this date.</th>
                    </tr>
                    </tr>
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Claims deadline:</th>
                    <td class="govuk-table__cell">19 September 2027. You must submit all your claims by this date.</th>
                    </tr>
                </tbody>
                </table>
                

                <h2 class="govuk-heading-s">Important requirements</h2>

                <p class="govuk-body">You must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>do all your reviews and follow-ups on the same species</li>
                    <li>have the <a href="guidance-apply#who-can-get-funding">minimum number of the livestock</a> each time you do a review or a follow-up</li>
                    <li>follow the rules for <a href="guidance-apply#timing-of-reviews-and-follow-ups">timing of reviews and follow-ups</a>.</li>
                </ul>

                <h2 class="govuk-heading-s">Guidance</h2>

                <p class="govuk-body">You must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="guidance-collection">Get funding to improve animal health and welfare</a></li>
                </ul>

            </tr>
        </tbody>
    </table>

{% endblock %}

{% block footer %}{% endblock %}