{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Sign in {{ serviceName }} Prototype
{% endblock %}

{# {% block header %}
  <!-- Header for v1 -->
{{ govukHeader({
  homepageUrl: "holding-page",
  serviceName: "Get funding to improve animal health and welfare",
  serviceUrl: "../index-research"
}) }}
{% endblock %} #}

{% block beforeContent %}
{{ super() }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Service update
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            We're working on a new service to replace the Rural Payments Service. 
            <a class="govuk-notification-banner__link" href="#">Find out more</a>.
          </p>
        </div>
      </div>

      <h1 class="govuk-heading-xl">
        Update your details
      </h1>

      <p class="govuk-body">
        If your details are not correct, you need to update them before you can get funding to Improve Animal Health and Welfare (IAHW).
      </p>


      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Update your personal and business details
         {# using Land and Farm Service #}
      </h2>

      <p class="govuk-body">
        To update your personal or business details such as name, email, or addresses, you can use the new Land and Farm Service (LFS).
      </p>

      {# <div class="govuk-inset-text">
        We're working on a new service to replace the Rural Payments Service. 
        <a class="govuk-notification-banner__link" href="#">Find out more</a>.
      </div> #}

      <p class="govuk-body">
        <a href="#" class="govuk-link">Update your details on the Land and Farm Service</a>
      </p>

      {# {% from "govuk/components/details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: "How to change details on the Land and Farm Service",
        html: '
        <ol class="govuk-list govuk-list--number">
          <li>Delivery address.</li>
          <li>Payment.</li>
          <li>Confirmation.</li>
        </ol>
        '
      }) }} #}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Update your bank and other details
         {# using Rural Payments Service #}
      </h2>

      <p class="govuk-body">
        To update your bank details or manage permissions, you can use the Rural Payments Service (RPS).
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Update your details on the Rural and Payments Service (opens in a new tab)</a>
      </p>

      {# {% from "govuk/components/details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: "How to change details on the Rural and Payments Service",
        html: '
        <ol class="govuk-list govuk-list--number">
          <li>Delivery address.</li>
          <li>Payment.</li>
          <li>Confirmation.</li>
        </ol>
        '
      }) }} #}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Contact the Rural Payments Agency for help
      </h2>

      <p class="govuk-body">
        Email: <a href="#" class="govuk-link">ruralpayments@defra.gov.uk</a>
      </p>

      <p class="govuk-body">
        Telephone: 03000 200 301<br />
        Monday to Friday, 8:30am to 5pm, except bank holidays
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Find out about call charges (opens in a new tab)</a>
      </p>

      

    </div>
  </div>

{% endblock %}
