{% extends "layouts/layout-defra-wide.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}


{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Change date of visit for claim REPI-6844-3029
    </h1>

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "passport-issued",
      namePrefix: "passport-issued",
      fieldset: {
        legend: {
          text: "Date of visit",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      },
      items: [
        {
          classes: "govuk-input--width-2",
          name: "day",
          value: "10"
        },
        {
          classes: "govuk-input--width-2",
          name: "month",
          value: "10"
        },
        {
          classes: "govuk-input--width-4",
          name: "year",
          value: "2025"
        }
      ]
    }) }}

    {# {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Original date of visit"
          },
          value: {
            text: "10/10/2024"
          }
        }
      ]
    }) }} #}

    {# {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        text: "Reasons for change",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        text: "Do not include personal or financial information, like your National Insurance number or credit card details"
      }
    }) }} #}

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "whereDoYouLive",
      fieldset: {
        legend: {
          text: "Reason for the change",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "england",
          text: "Data from a different claim was entered",
          hint: {
            text: "For example, farmer added the date of samples instead date of visit."
          }
        },
        {
          value: "scotland",
          text: "Farmer entered data from a different claim",
          hint: {
            text: "For example, farmer entered information from a follow-up instead of review claim."
          }
        },
        {
          value: "wales",
          text: "Data was accidentally mistyped",
          hint: {
            text: "For example, typed 0 instead of 1."
          }
        },
        {
          value: "northern-ireland",
          text: "Incorrect selection was made in the digital service",
          hint: {
            text: "For example, selected yes instead of no for the multiple-herds question."
          }
        },
        {
          value: "northern-ireland",
          text: "Incorrect or confusing information was supplied by vet",
          hint: {
            text: "For example, vet provided a custom vet summary template with confusing labels."
          }
        }
      ]
    }) }}


        {{ govukRadios({
      name: "whereDoYouLive2",
      fieldset: {
        legend: {
          text: "How the change was identified",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "england",
          text: "The customer contacted RPA"
        },
        {
          value: "scotland",
          text: "Evidence did not match customer's data during verification"
        }
      ]
    }) }}






    {# {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "reasons",
      name: "reasons",
      label: {
        text: "Reasons for change",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      items: [
        {
          value: "reason0",
          text: "",
          selected: true 
        },
        {
          value: "reason1",
          text: "Farmer copied wrong data from summary sheet"
        },
        {
          value: "reason2",
          text: "Farmer entered data from a different claim"
        },
        {
          value: "reason2",
          text: "Farmer done a typo mistake"
        },
        {
          value: "reason3",
          text: "Selected the wrong option in the system"
        },
        {
          value: "reason4",
          text: "Vet provided incorrect or confusing information"
        }
      ]
    }) }} #}

    {# {{ govukSelect({
      id: "reasons",
      name: "reasons",
      label: {
        text: "What triggered the change",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      items: [
        {
          value: "reason0",
          text: "",
          selected: true 
        },
        {
          value: "reason1",
          text: "Customer contacted RPA and requested change"
        },
        {
          value: "reason2",
          text: "Evidence doesn’t match backoffice"
        }
      ]
    }) }} #}

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        rows: "8",
        label: {
          text: "Additional details",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "Enter any information the approver will need to consider."
        }
      }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue",
      href: "../claim.html"
    }) }}

  </div>
</div>

{% endblock %}