{% extends "layouts/layout-defra-wide.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{# {% set serviceName %}
Annual Health and Welfare Back Office
{% endset %} #}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Are you sure you want to withdraw this claim?
        </h1>
      </legend>

      <p class="govuk-body">
        <strong>Claim number:</strong> REBC-D9H7-BJQX
      </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Once this withdrawn is approved, this action cannot be undone.
        </strong>
      </div>
        

        {# {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Reasons for withdrawn",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  id: "event-name",
  name: "eventName"
}) }} #}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      name: "whereDoYouLive",
      fieldset: {
        legend: {
          text: "Reason for withdrawal",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "england",
          text: "Data from a different claim was entered",
          hint: {
            text: "For example, farmer added the date of samples instead date of visit."
          }
        },
        {
          value: "scotland",
          text: "Farmer entered data from a different claim",
          hint: {
            text: "For example, farmer entered information from a follow-up instead of review claim."
          }
        },
        {
          value: "wales",
          text: "Data was accidentally mistyped",
          hint: {
            text: "For example, typed 0 instead of 1."
          }
        },
        {
          value: "northern-ireland",
          text: "Incorrect selection was made in the digital service",
          hint: {
            text: "For example, selected yes instead of no for the multiple-herds question."
          }
        },
        {
          value: "northern-ireland",
          text: "Incorrect or confusing information was supplied by vet",
          hint: {
            text: "For example, vet provided a custom vet summary template with confusing labels."
          }
        }
      ]
    }) }}


        {{ govukRadios({
      name: "whereDoYouLive2",
      fieldset: {
        legend: {
          text: "How the need for withdrawal was identified",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "england",
          text: "The customer contacted RPA"
        },
        {
          value: "scotland",
          text: "Evidence did not match customer's data during verification"
        }
      ]
    }) }}

      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        rows: "8",
        label: {
          text: "Additional details",
          classes: "govuk-label--m",
          isPageHeading: false
        }

      }) }}

              {# ,
        hint: {
          text: "Add any addtional notes for the back office team to consider when reviewing this change"
        } #}

        {# {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "reasons",
      name: "reasons",
      label: {
        text: "Reasons for withdrawn",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      items: [
        {
          value: "reason0",
          text: "",
          selected: true 
        },
        {
          value: "reason1",
          text: "Customer contacted RPA and requested withdrawn"
        },
        {
          value: "reason2",
          text: "Lorem ipsum"
        },
        {
          value: "reason3",
          text: "Lorem ipsum"
        },
        {
          value: "reason4",
          text: "Lorem ipsum"
        }
      ]
    }) }} #}
      
      <div class="govuk-form-group">
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {# <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Delete flag
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Do not delete flag
        </button> #}

        {{ govukButton({
          text: "Yes, withdraw claim",
          classes: "govuk-button--warning",
          href: "../claims.html"
        }) }}
        &nbsp;&nbsp;&nbsp;
        {{ govukButton({
          text: "No, cancel action",
          classes: "govuk-button--secondary",
          href: "../claim-cattle1.html"
        }) }}
      </div>
    </fieldset>

  </div>
</div>

{% endblock %}
