{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Minimum number of poultry in the flock
      </h1>

      <div class="govuk-button-group">
        <p class="govuk-body">
          Each time you do a biosecurity review of the flock, you must have the minimum number of poultry. The minimum needed for the flock is:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>1,000 broilers</li>
          <li>1,000 laying hens</li>
          <li>500 ducks</li>
          <li>500 geese</li>
          <li>500 turkeys</li>
        </ul>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          href: "agreement-timings"
        }) }}

        {{ govukButton({
          text: "I do not agree",
          href: "#",
          classes: "govuk-button--secondary"
        }) }}
      </div>


    </div>

  </div>

{% endblock %}
