{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Review your agreement offer
      </h1>

      <p class="govuk-body">
        This is an offer of funding to poultry biosecurity review for this business:
      </p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      <div class="govuk-inset-text">
        Omni Consumer Products Ltd<br />
        Primrose Ln, Arthington, Otley, LS21 1PH<br />
        SBI: 234567890
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <h2 class="govuk-heading-s">
        You may either:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>accept this offer of agreement subject to the following</li>
        <li>reject this offer</li>
      </ul>

      <h2 class="govuk-heading-s">
        You must:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>allow a vet to asses the biosecurity for the flock being reviewed</li>
        <li>share details about the vet with the Rural Payments Agency (RPA)</li>
      </ul>

      <p class="govuk-body">
        If the RPA requests evidence that your biosecurity review took place, or details of the flocks you have, you must provide it. This will be on your vet summary.
      </p>

      <p class="govuk-body">
        If you accept this offer you confirm that:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you have read, understood and agree to follow <a href="#">the agreement terms and conditions</a></li>
      </ul>

      <p class="govuk-body">
        The agreement terms and conditions include, but are not limited to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you must have the minimum number of poultry needed</li>
        <li>you must follow the rules for timing of biosecurity reviews</li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          I have read, understood and agree to follow the terms and conditions.
        </label>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">


      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          href: "confirmation-agreement"
        }) }}

        {{ govukButton({
          text: "Reject",
          href: "#",
          classes: "govuk-button--secondary"
        }) }}
      </div>


    </div>

  </div>

{% endblock %}
