{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Timing of poultry biosecurity reviews
      </h1>

      <p class="govuk-body">
        You cannot organise a review with a vet until this Poultry Biosecurity Review agreement is in place.
      </p>

      {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You need to accept this agreement before you arrange a biosecurity assessment with your vet. You need to follow these timing rules to be eligible for a claim.",
        iconFallbackText: "Warning"
      }) }} #}

      {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break"> #}

      {# <h2 class="govuk-heading-m">
        Poultry biosecurity reviews
      </h2> #}
      <p class="govuk-body">You can have a poultry biosecurity review on each site:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>every 10 months</li>
        <li>a maximum of 3 times</li>
      </ul>

      <p>All reviews must be completed by 31 December 2028.</p>
      <p>All claims must be made by 31 March 2029.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          href: "agreement-review-offer"
        }) }}

        {{ govukButton({
          text: "I do not agree",
          href: "#",
          classes: "govuk-button--secondary"
        }) }}
      </div>


    </div>

  </div>

{% endblock %}
