{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Minimum number of poultry on the site
      </h1>

      <div class="govuk-button-group">
        <p class="govuk-body">
          To be eligible for a poultry biosecurity review, each site must have the capacity to hold the minimum number of any of the following species:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>1,000 broiler chickens</li>
          <li>1,000 breeder chickens</li>
          <li>1,000 laying hens</li>
          <li>500 ducks</li>
          <li>500 geese</li>
          <li>500 turkeys</li>
        </ul>
      <p>Species numbers cannot be combined, for example 200 ducks and 300 turkeys.</p>

      <p>If the site is empty, the vet must assess its capacity to hold the minimum number of relevant birds.</p>
      </div>


      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          href: "agreement-timings"
        }) }}

        {{ govukButton({
          text: "I do not agree",
          href: "#",
          classes: "govuk-button--secondary"
        }) }}
      </div>


    </div>

  </div>

{% endblock %}
