{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {# classes: "govuk-radios--inline", #}
      {{ govukRadios({

        name: "animals-number",
        fieldset: {
          legend: {
            text: "Did you have 1,000 or more broilers in this flock on the date of visit?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You can find this on the summary the vet gave you."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
        text: "Continue",
        href: "vets-name",
        isStartButton: false
        }) }}


    </div>

  </div>

{% endblock %}
