{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {# classes: "govuk-radios--inline", #}
      {{ govukRadios({

        name: "animals-number",
        fieldset: {
          legend: {
            text: "Did you have the minimum number of at least one species of bird in this unit on the date of the visit?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "You can find this on the summary the vet gave you.<br />
Minimum number of birds per species:<br />
<ul class='govuk-list govuk-list--bullet'>
  <li class='govuk-hint'>1,000 broilers</li>
  <li class='govuk-hint'>1,000 laying hens</li>
  <li class='govuk-hint'>500 ducks</li>
  <li class='govuk-hint'>500 geese</li>
  <li class='govuk-hint'>500 turkeys</li>
</ul>
"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
        text: "Continue",
        href: "vets-name",
        isStartButton: false
        }) }}


    </div>

  </div>

{% endblock %}
