{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  What was the rest result? – {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



       {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <div class="govuk-form-group">
          <form action="/new-user" method="post" class="form">

          <fieldset class="govuk-fieldset" aria-describedby="test-result-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you a member of a poultry assurance scheme?
              </h1>
            </legend>
            <div id="test-result-hint" class="govuk-hint">
              We ask if you're part of an assurance scheme so we understand the standards you work to and only request information that’s relevant to your farm. All results are combined and anonymised. For example, Red Tractor, RSPCA Assured, Soil Association, British Lion Eggs, Laid in Britain, others.
            </div>
            {{ govukRadios({
              name: "test-result",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "I prefer not to say",
                  text: "I prefer not to say"
                }
              ]
            }) }}
          </fieldset>



        </div>

        
            {{ govukButton({
            text: "Continue",
            href: "interview-option",
            isStartButton: false
            }) }}









    </div>

  </div>

{% endblock %}
