{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {# classes: "govuk-radios--inline", #}
      {{ govukRadios({

        name: "animals-number",
        fieldset: {
          legend: {
            text: "What is your expected cost for the recommended biosecurity changes?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "£0–£500",
            text: "£0–£500"
          },
          {
            value: "£500–£5,000",
            text: "£500–£5,000"
          },
          {
            value: "More than £5,000",
            text: "More than £5,000"
          },
          {
            value: "Not sure",
            text: "Not sure"
          }
        ]
      }) }}

        {{ govukButton({
        text: "Continue",
        href: "assurance-scheme",
        isStartButton: false
        }) }}


    </div>

  </div>



        {# hint: {
          html: "You can find this on the summary the vet gave you.<br />
Minimum number of birds per species:<br />
<ul class='govuk-list govuk-list--bullet'>
  <li class='govuk-hint'>1,000 broilers</li>
  <li class='govuk-hint'>1,000 laying hens</li>
  <li class='govuk-hint'>500 ducks</li>
  <li class='govuk-hint'>500 geese</li>
  <li class='govuk-hint'>500 turkeys</li>
</ul>
"
        }, #}

{% endblock %}
