{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {# classes: "govuk-radios--inline", #}
      {{ govukRadios({

        name: "animals-number",
        fieldset: {
          legend: {
            text: "Do you plan to make any changes as a result of this biosecurity review?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "This could, for example, involve a change to the management practices of the unit or an improvement to the physical infrastructure."
        },
        items: [
          {
            value: "Yes, I have already started",
            text: "Yes, I have already started"
          },
          {
            value: "Yes, I plan to make changes",
            text: "Yes, I plan to make changes"
          },
          {
            value: "Not at this stage",
            text: "Not at this stage"
          },
          {
            value: "No recommendations were made",
            text: "No recommendations were made"
          }
        ]
      }) }}

        {{ govukButton({
        text: "Continue",
        href: "biossecurity-cost",
        isStartButton: false
        }) }}


    </div>

  </div>

{% endblock %}
