{% extends "layouts/main-logged.html" %}

{% set animalType = data['animal-type'] or 'Laying hens' %}
{% set reviewDate = data['review-date'] or '4 September 2024' %}
{% set sampleDate = data['sample-date'] or '12 September 2024' %}
{% set animalsNumber = data['animals-number'] or 'Yes' %}
{% set sampleNumber = data['sample-number'] or '6' %}
{% set vetsName = data['vets-name'] or 'Alex Federico' %}
{% set vetsRcvs = data['vets-rcvs'] or '5435472' %}
{% set urn = data['test-urn'] or '38527594' %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Business name"
            },
            value: {
              text: "Omni Consumer Products Ltd"
            }
          }
          ,
          {
            key: {
              text: "Date of review"
            },
            value: {
              text: reviewDate
            },
            actions: {
              items: [
                {
                  href: "review-date",
                  text: "Change",
                  visuallyHiddenText: "Date of review"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Site name"
            },
            value: {
              text: "Home farm"
            },
            actions: {
              items: [
                {
                  href: "review-date",
                  text: "Change",
                  visuallyHiddenText: "Date of review"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Site CPH number"
            },
            value: {
              text: "11/111/1111"
            },
            actions: {
              items: [
                {
                  href: "review-date",
                  text: "Change",
                  visuallyHiddenText: "Date of review"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Species"
            },
            value: {
              text: animalType
            },
            actions: {
              items: [
                {
                  href: "animal-type",
                  text: "Change",
                  visuallyHiddenText: "Date of review"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Minimum number of birds"
            },
            value: {
              text: animalsNumber
            },
            actions: {
              items: [
                {
                  href: "number-animals",
                  text: "Change",
                  visuallyHiddenText: "minimum number of birds"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Assurance scheme"
            },
            value: {
              text: animalsNumber
            },
            actions: {
              items: [
                {
                  href: "assurance-scheme",
                  text: "Change",
                  visuallyHiddenText: "assurance scheme"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Vet's name"
            },
            value: {
              text: vetsName
            },
            actions: {
              items: [
                {
                  href: "vets-name",
                  text: "Change",
                  visuallyHiddenText: "Vet's name"
                }
              ]
            }
          }
          ,  
          {
            key: {
              text: "Vet's RCVS number"
            },
            value: {
              text: vetsRcvs
            },
            actions: {
              items: [
                {
                  href: "vets-rcvs",
                  text: "Change",
                  visuallyHiddenText: "Vet's RCVS number"
                }
              ]
            }
          }
          ,                                              
          {
            key: {
              text: "Biosecurity assessment"
            },
            value: {
              text: data['test-result'] or "Yes"
            },
            actions: {
              items: [
                {
                  href: "biosecurity-assessment",
                  text: "Change",
                  visuallyHiddenText: "biosecurity assessment"
                }
              ]
            }
          },                                              
          {
            key: {
              text: "Biosecurity changes planned"
            },
            value: {
              text: data['test-result'] or "Yes, I have already started"
            },
            actions: {
              items: [
                {
                  href: "biosecurity-changes",
                  text: "Change",
                  visuallyHiddenText: "biosecurity changes planned"
                }
              ]
            }
          },                                              
          {
            key: {
              text: "Expected cost for biosecurity changes"
            },
            value: {
              text: data['test-result'] or "£0-£500"
            },
            actions: {
              items: [
                {
                  href: "biosecurity-cost",
                  text: "Change",
                  visuallyHiddenText: "expected cost for biosecurity changes"
                }
              ]
            }
          },                                              
          {
            key: {
              text: "Evaluation interview"
            },
            value: {
              text: data['test-result'] or "Yes"
            },
            actions: {
              items: [
                {
                  href: "interview-option",
                  text: "Change",
                  visuallyHiddenText: "evaluation interview"
                }
              ]
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <p class="govuk-body">By submitting your claim you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you understand you may have to provide evidence to the Rural Payments Agency to support this claim</li>
        <li>all the information you have provided in this claim is correct to the best of your knowledge</li>
      </ul>


        {{ govukButton({
        text: "Submit your claim",
        href: "confirmation-claim",
        isStartButton: false
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
