{% extends "layouts/main-logged.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your agreement number<br><strong>POUL-83720-47282</strong>"
      }) }}

      <p>
        Your application has been successful.
      </p>

      <p>
        We have sent you a confirmation email and your agreement summary.
      </p>

      <h2 class="govuk-heading-m">
        What you need to do next
      </h2>

      <ol class="govuk-list govuk-list--bullet">
        <li>Contact the vet to arrange a biosecurity review and give them the agreement number.</li>
        <li>Read the guidance about <a href="#">what happens on a poultry biosecurity review</a>. The guidance explains what you must ask the vet to do and what’s optional.</li>
        <li>Ask the vet to read the guidance on <a href="#">how to do a poultry biosecurity review</a>. This is important because the vet needs to follow the guidance closely so that you are eligible to claim.</li>
        <li>After the vet has completed the assessment, you can claim your funding. Read the guidance on how to claim funding for poultry biosecurity review.</li>
      </ol>

      <h2 class="govuk-heading-m">
        Get help with your application
      </h2>

      <p>
        Contact the Rural Payments Agency and give your agreement number if you:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>need to change your application</li>
        <li>decide you do not want a review after you have accepted your agreement offer</li>
        <li>have a question about your application</li>
      </ul>

      <h2 class="govuk-heading-m">Rural Payments Agency</h2>
      <p>
        Email: 
        <a href="#">
          ruralpayments@defra.gov.uk</a>
      </p>

      <ul class="govuk-list">
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday: 8:30am to 5pm; except bank holidays</li>
      </ul>

      <p>
        <a href="#">
          Find out about call charges (opens in a new tab)</a>
      </p>

      <p>
        <a href="#">
          What did you think of this service?</a> (giving feedback takes about 5 minutes)
      </p>


    </div>
  </div>

{% endblock %}
