{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  What was the rest result? – {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



       {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <div class="govuk-form-group">
          <form action="/new-user" method="post" class="form">

          <fieldset class="govuk-fieldset" aria-describedby="test-result-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is this the only flock associated with this Single Business Identifier (SBI)?
              </h1>
            </legend>
            <div id="test-result-hint" class="govuk-hint">
              You can find this information on the ‘Tell us about this flock’ section of the form that the vet filled in for you.
            </div>
            {{ govukRadios({
              name: "test-result",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
          </fieldset>



        </div>

        
            {{ govukButton({
            text: "Continue",
            href: "flock-reasons",
            isStartButton: false
            }) }}









    </div>

  </div>

{% endblock %}
