{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  What is the vet's name? – {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="vets-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Enter the flock name
            </h1>
          </legend>
          <div id="vets-name-hint" class="govuk-hint">
            You can find this information on the ‘Tell us about this flock’ section of the form that the vet filled in for you.
          </div>
          {{ govukInput({
            id: "vets-name",
            name: "vets-name",
            classes: "govuk-input--width-30",
            type: "text"
          }) }}
        </fieldset>
      </div>


      {{ govukButton({
      text: "Continue",
      href: "flock-cph",
      isStartButton: false
      }) }}

      {% from "govuk/components/details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: "I don’t have the flock details from the vet",
        html: "Your vet should have completed the ‘Tell us about this flock’ section on the vet template. You can ask them to <a href='#'>download the form</a> and fill the details in for you."
      }) }}


    </div>

  </div>

{% endblock %}
