{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {# classes: "govuk-radios--inline", #}
      {{ govukRadios({

        name: "animals-number",
        fieldset: {
          legend: {
            text: "Would you like to take part in a short interview about your experience with this service?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "You might be contacted by Defra to answer a short evaluation interview about your experience with the scheme. This will help us to improve this and other services."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
        text: "Continue",
        href: "check-your-answers",
        isStartButton: false
        }) }}


    </div>

  </div>

{% endblock %}
