<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Claim number</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Type of visit</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Species</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Herd name</th>
      <th scope="col" class="govuk-table__header">Herd CPH</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Claim date</th>
      <th scope="col" class="govuk-table__header" aria-sort="none" style="text-align: right;">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href='claim.html'>RESH-6598-1974</a></td>
      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">Sheep</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">South field A</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">08/042/1752</td>
      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">28/10/2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href='claim.html'>RESH-7539-7325</a></td>
      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">Sheep</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">South field B</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">08/042/6613</td>
      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">28/10/2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href='claim.html'>RESH-1740-7498</a></td>
      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">Sheep</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">Late breds A</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">08/042/1752</td>
      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">28/10/2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href='claim.html'>RESH-3277-8052</a></td>
      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">Sheep</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">Late breds B</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">08/042/6613</td>
      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">28/10/2025</td>
      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
    </tr>
  </tbody>
</table>