//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


// Grey box for collections page
.custom-grey-box {
    background-color: #f3f2f1; /* Light grey background */
    padding: 32px;  
    margin-bottom: 16px;            
  }


// Grey box for guidance page
.custom-grey-box-guidance {
    background-color: #f3f2f1; /* Light grey background */
    padding: 20px 30px 5px 30px;  
    margin-bottom: 50px;            
  }

// Secondary text colour
.secondary-text {
  color: $govuk-secondary-text-colour;
}