{% extends "layouts/main.html" %}

// Dynamic data

{# {% set herdReference = data['herd-reference'] or 'Pedigree Meadow' %}
{% set herdCPH = data['herd-cph'] or '52423212' %}
{% set otherHerdsCph = data['other-herds-cph'] or 'Yes' %}
{% set herdDetails = data['herd-details']  | join("<br><br>") or 'No information provided' %} #}

{% set claimType = data['claimType'] %}

// Static data
{% set herdReference = data['herd-reference'] or 'Commercials' %}
{% set herdCPH = data['herd-cph'] or '52/423/2125' %}
{% set otherHerdsCph = data['other-herds-cph'] or 'Yes' %}
{% set herdDetails = 'They have separate management needs' %}



{% block header %}
  <!-- Header for v1 -->
{{ govukHeader({
  homepageUrl: "../holding-page",
  serviceName: "Get funding to improve animal health and welfare",
  serviceUrl: "../index-research"
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <form action="same-herd" method="post" novalidate>

      <h1 class="govuk-heading-xl">
        Check herd details
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Herd name"
            },
            value: {
              text: herdReference
            },
            actions: {
                items: [
                  {
                    href: "310-herd-reference",
                    text: "Change",
                    visuallyHiddenText: "herd reference"
                  }
                ]
              }
            },

          {
            key: {
              text: "CPH number for herd"
            },
            value: {
              text: herdCPH
            },
            actions: {
                items: [
                  {
                    href: "315-herd-cph",
                    text: "Change",
                    visuallyHiddenText: "CPH number for herd"
                  }
                ]
              }
            },

          {
            key: {
              text: "Only herd associated with SBI"
            },
            value: {
              text: (otherHerdsCph)
            },
          actions: {
            items: [
              {
                href: "315-herd-cph",
                text: "Change",
                visuallyHiddenText: "other herds on CPH"
                  }
                ]
              }
            }
           
        ]
      }) }}

        <div>

        {{ govukButton({
          text: "Continue"
        }) }}
        
        </div>

  </form>

</div>
  


{% endblock %}
