{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Header for v1 -->
  {{ govukHeader({
  homepageUrl: "../holding-page",
  serviceName: "Get funding to improve animal health and welfare",
  serviceUrl: "../index-research"
}) }}
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="sample-date" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="herd-cph-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              Is this the same herd you have previously claimed for?
            </h1>
            </legend>
            <div id="herd-cph-hint" class="govuk-hint">
            You can now have reviews and follow-ups on more than one herd. 
          </div>

            <h3 class="govuk-heading-s govuk-!-padding-top-4">Your last claim for this species:</h3>

            {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

            {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Species"
      },
      value: {
        text: "Pigs"
      }
    },
    {
      key: {
        text: "Type"
      },
      value: {
        text: "Review"
      }
    },
    {
      key: {
        text: "Last visit date"
      },
      value: {
        html: "11 March 2024"
      }
    },
    {
      key: {
        text: "Claim date"
      },
      value: {
        html: '25 February 2025'
      }
    }
  ]
}) }}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

            <div class="govuk-form-group">
              {{ govukRadios({
  name: "same-herd",
  items: [
    {
      value: "Yes, it's the same",
      text: "Yes, it's the same"
      },
      {
        value: "No, it’s a different herd",
        text: "No, it’s a different herd"
        }
        ]
        }) }}

            </div>

            <div class=" govuk-!-padding-top-2">

              {{ govukButton({
          text: "Continue"
        }) }}

            </div>

          </fieldset>

        </form>

      </div>

    </div>

  {% endblock %}