{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Multispecies prototype
      </h1>

      <p>
        Research November 2024.
      </p>

      <h2 class="govuk-heading-m">User group A:<br>
        New users, not signed up to the scheme</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link" href="new-user/guidance-collection">Discovery (guidance)</a>
        </li>
        <li>
          <a class="govuk-link" href="new-user/sign-in-crn">Agreement journey (with login)</a>
        </li>
        <!-- <li>
          <a class="govuk-link" href="new-user/agreement-you-can-claim">Agreement journey (after login)</a>
        </li> -->
        <li>
          <a class="govuk-link" href="new-user/guidance-collection">Make a claim (guidance collection page)</a>
        </li>
        <li>
          <a class="govuk-link" href="new-user/manage-your-claims">Make a claim (after login)</a>
        </li>
        <li>
          <a class="govuk-link" href="new-user/manage-your-claims-after-submit">Work out when follow up visit can be done</a>
        </li>
        <li>
          <a class="govuk-link" href="new-user/manage-your-claims-after-submit">Work out when next review can be done</a>
        </li>
      </ol>

      <p class="govuk-body">
        <a class="govuk-link" href="new-user/email-agreement-confirmation">Confirmation email (agreement)</a>
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="new-user/email-claim-review-confirmation">Confirmation email (claim)</a>
      </p>


      <!-- User group B -->

      <h2 class="govuk-heading-m">User group B: <br>
        Existing multispecies users who have made a claim in the past</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link" href="existing-user/email-change.njk">Receive email about change</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user/guidance-collection">Organise a vet visit</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user/manage-your-claims-complex">Make a claim for beef review</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user/manage-your-claims-complex">Make claim for follow-up beef endemics</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user/manage-your-claims-complex">Work out when next review can be done</a>
        </li>        
        <li>
          <a class="govuk-link" href="existing-user/manage-your-claims-complex">Complex dashboard</a>
        </li>
      </ol>



      <h2 class="govuk-heading-m">User group C: <br>
        Users with agreement, but no claims</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link" href="existing-user-no-claims/email-change.njk">Receive email about change</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user-no-claims/guidance-collection">Organise a vet visit</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user-no-claims/manage-your-claims-empty">Make a claim for beef review</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user-no-claims/manage-your-claims-complex">Make claim for follow-up beef endemics</a>
        </li>
        <li>
          <a class="govuk-link" href="existing-user-no-claims/manage-your-claims-complex">Work out when next review can be done</a>
        </li>        
        <li>
          <a class="govuk-link" href="existing-user-no-claims/manage-your-claims-complex">Complex dashboard</a>
        </li>
      </ol>


    </div>
  </div>

{% endblock %}
