{% extends "layouts/main.html" %}

{% block pageTitle %}
  Manage your claims – {{ serviceName }} – Prototype  
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Get funding to improve animal health and welfare",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-full">
            <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">J ROBERTS</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Single Business Identifier (SBI): 106705799</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You can now claim for multiple species.<br>
            {# <a class="govuk-notification-banner__link" href="#">Contact the RPA to opt out</a>. #}
          </p>
        </div>
      </div>



        <h1 class="govuk-heading-xl">
          Manage your claims
        </h1>

        <p>Start a new claim or view and manage your current claims. We recommend you claim in order of the visits.<br>
            Download your <a href="#">agreement summary</a>.
        </p>

        <p>Agreement number: <strong>IAHW-91254-88277</strong><br>
        </p>
        {# <p>You can claim for <strong>Single species</strong> <a href="#">aceept multi-species agreement</a>
        </p> #}
        {# <p>You can claim for <strong>multiple species</strong><a href="#"> contact us to discuss</a>
        </p> #}

        {{ govukButton({
          text: "Start a new claim",
          href: "animal-type",
          isStartButton: false
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <!-- MoJ Sortable Table -->
        <div class="moj-scrollable-pane">
        <table class="govuk-table" data-module="moj-sortable-table">
          <caption class="govuk-table__caption govuk-table__caption--m">View your claims</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">Visit date</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Species</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Claim number</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-sort-value="20241017">17 October 2024</td>
              <td class="govuk-table__cell">Beef cattle</td>
              <td class="govuk-table__cell">Review</td>
              <td class="govuk-table__cell">REBC-6844-3031</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Submitted
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-sort-value="20241010">10 October 2024</td>  
              <td class="govuk-table__cell">Sheep</td>
              <td class="govuk-table__cell">Follow-up</td>
              <td class="govuk-table__cell">FUSC-2894-8823</td>
                <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Approved
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-sort-value="20241010">4 March 2024</td>  
              <td class="govuk-table__cell">Sheep</td>
              <td class="govuk-table__cell">Review</td>
              <td class="govuk-table__cell">AHWR-2389-349D</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  Approved
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <h2 class="govuk-heading-m">
          More information
        </h2>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Guidance for funding to improve animal health and welfare</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Terms and conditions</a>
          </li>
        </ul>

      </div>


    </div>

  </div>

{% endblock %}
