{% extends "layouts/layout-defra-wide.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}


{% block beforeContent %}

{% endblock %}


{% block content %}

<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters govuk-!-margin-top-2">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Audit
    </h1>

    {# <div class="user-search-box govuk-!-width-two-thirds govuk-!-margin-bottom-7">
      <label class="govuk-label govuk-label--s" for="user-search">
        Find a claim<!-- by claim number, organisation, SBI or status-->
        <div id="search-hint" class="govuk-hint moj-search__hint ">
          Search by claim number, visit type, SBI, claim date or status.
    </div>
      </label>
      <!--<div id="heading-hint" class="govuk-hint govuk-!-margin-bottom-3">
        Search by agreement number, status or single business identifier (SBI) number
      </div>-->
      <form action="/v7/l2/users/search/search-results-none" method="post" class="form">
        {% include "/prototypes/v05/views/backoffice/includes/search-bar.html" %}
      </form>
    </div> #}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters govuk-!-margin-top-2">

    {% from "govuk/components/select/macro.njk" import govukSelect %}

    {{ govukSelect({
      id: "filter",
      name: "filter",
      label: {
        text: "Filter by"
      },
      items: [
        {
          value: "pending",
          text: "Pending changes",
          selected: true
        },
        {
          value: "approved",
          text: "Approved changes"
        },
        {
          value: "all",
          text: "All changes"
        }
      ]
    }) }}

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters govuk-!-margin-top-2">

    {% include "/prototypes/v05/views/backoffice/includes/audit-table.html" %}

        
  </div>
      

  <!-- Start pagination-->
  <nav class="govuk-pagination" aria-label="Pagination">
      <!--<div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
        </a>
      </div>-->
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>
    <!-- End pagination -->

</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    $("#audit").parent().addClass("govuk-service-navigation__item--active");
  });
</script>
{% endblock %}