{% extends "layouts/layout-defra-wide.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}


{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}

<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Change date of visit for claim REPI-6844-3029
    </h1>

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Original date of visit"
          },
          value: {
            text: "10/10/2024"
          }
        },
        {
          key: {
            text: "Updated date of visit"
          },
          value: {
            text: "11/10/2024"
          }
        },
        {
          key: {
            text: "Reasons for change"
          },
          value: {
            html: "Farmer contacted RPA to inform an error on the submission, after the evidence was reviewed, the date was changed. Case management 1234556."
          }
        }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Approve change and continue",
      href: "audit.html"
    }) }}

  </div>
</div>

{% endblock %}