{% extends "layouts/layout-defra-wide.html" %}

{% block pageTitle %}
Back office: User application
{% endblock %}
{# {% set serviceName %}
Annual Health and Welfare Back Office
{% endset %} #}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}


{% block content %}
{# 
  <div class="govuk-phase-banner">
  </div> #}
  {# <div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;"> #}
<div class="govuk-grid-row" style="padding-top:16px;">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" style="margin-bottom: 8px;">Claim number: REPI-6844-3029</h1>
    <h2 class="govuk-heading-m" style="margin-bottom: 8px;"><strong class="govuk-tag govuk-tag--purple">
      On hold
    </strong></h2>
      <h2 class="govuk-caption-l govuk-!-margin-bottom-3">Claim by <a href="business.html">P&D Fearnley & Sons</a></p></h2>
  {# </div>

  <div class="govuk-grid-column-one-third"> #}
  </div>
  {# <div>
    {# <h1 class="govuk-caption-l"style="float:right; govuk-!-margin-bottom"><a href="claims">Back to all claims</a></h1> #}
  

  {# </div> #}
</div>
    {# </main> #}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <!--<h3 class="govuk-heading-m">Business overview</h3>-->
    <!--<dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          <p><a href="business.html">P & D Fearnley and sons</a></p>
        </dd>
      </div>-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement number
        </dt>
        <dd class="govuk-summary-list__value">
          <p>AHWR-F001-432L</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement date
        </dt>
        <dd class="govuk-summary-list__value">
          <p>1/11/2022</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement holder
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Bill Fearnley</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreement holder email
        </dt>
        <dd class="govuk-summary-list__value">
          <p>bill@fearnly.test</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SBI number
        </dt>
        <dd class="govuk-summary-list__value">
          103491987
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Coronation Drive<br>Harleston<br>IP20 0AX</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business email
        </dt>
        <dd class="govuk-summary-list__value">
          <p>hello@fearnley-sons.com</p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of herds and flocks
        </dt>
        <dd class="govuk-summary-list__value">
          
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Beef cattle
              </dt>
              <dd class="govuk-summary-list__value">
                1
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Dairy cattle
              </dt>
              <dd class="govuk-summary-list__value">
                0
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sheep
              </dt>
              <dd class="govuk-summary-list__value">
                5
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="border-bottom: none;">
              <dt class="govuk-summary-list__key">
                Pigs
              </dt>
              <dd class="govuk-summary-list__value">
                0
              </dd>
            </div>
          </dl>

        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

    <!--Application stages (in tabs)-->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <!--<li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#applied">
            Agreement
          </a>
        </li>-->
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#claimed">
            Claim details
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#history">
            History
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="claimed">
        <h2 class="govuk-heading-l">Claim details</h2>
        <dl class="govuk-summary-list">
          <!-- Content for the 'Claim' tab goes here -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--purple">
                On hold
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> test resultst</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Claim date
            </dt>
            <dd class="govuk-summary-list__value">   
                11 July 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Species
            </dt>
            <dd class="govuk-summary-list__value">
              Sheep
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Type of visit
            </dt>
            <dd class="govuk-summary-list__value">
              [Review type]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Date of visit
            </dt>
            <dd class="govuk-summary-list__value">
              11 October 2024 (previous 10/10/2024)
              <br/><strong class="govuk-tag govuk-tag--yellow iahw-table-tag">
                Change pending approval
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change/date-visit.html">Change<span class="govuk-visually-hidden"> date of visit</span></a>
            </dd>
          </div>
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Herd name
            </dt>
            <dd class="govuk-summary-list__value">
              Commercial
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> herd name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Herd CPH
            </dt>
            <dd class="govuk-summary-list__value">
              12/345/6789
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> herd CPH</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Is this the only herd or flock associated with this SBI?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Reasons the herd or flock is separate
            </dt>
            <dd class="govuk-summary-list__value">
              
              <ul class="govuk-list govuk-list--bullet">
                <li>They are a different breed</li>
                <li>They have been kept completely separate from any other herds or flocks</li>
                <li>Other reasons based on my vet's judgement</li>
              </ul>

            </dd>
          </div>


          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Date of testing
            </dt>
            <dd class="govuk-summary-list__value">
              6 November 2022
              <br/><strong class="govuk-tag govuk-tag--green iahw-table-tag">
                Change approved
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of testing</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              11 or more beef cattle
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vet's name
            </dt>
            <dd class="govuk-summary-list__value">
              Nora Williams
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> vet's name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vet's RCVS number
            </dt>
            <dd class="govuk-summary-list__value">
              7116359
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> vet's RCVS number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              URN
            </dt>
            <dd class="govuk-summary-list__value">
              URN-7374-48BC
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> URN</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of tests
            </dt>
            <dd class="govuk-summary-list__value">
              8
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of animals tested
            </dt>
            <dd class="govuk-summary-list__value">
              8
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Test results
            </dt>
            <dd class="govuk-summary-list__value">
              Positive
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> test resultst</span></a>
            </dd>
          </div>
        </dl>
        <p class="govuk-body">If you recommend this claim for a full verification check, move it to ‘in check’.</p>
        <p class="govuk-body">If no further checks are required, you do not need to do anything. The claim will automatically move to ‘ready to pay’.</p>

        <div class="govuk-button-group">
          <a href="claim-move-to-in-check.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Move claim to 'in check'
          </a>
        </div>

        <br />
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <br />
        {# <br />
        <br />
        <br /> #}

        <div class="govuk-button-group">
          <a
            class="govuk-button govuk-button--warning"
            data-module="govuk-button"
            href="https://ffc-ahwr-backoffice-test.azure.defra.cloud/flags?deleteFlag=da5a06bb-7c44-4b7f-93e8-4c37100c3b02"
            data-govuk-button-init=""
            >Delete claim</a
          >
        </div>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
        <h2 class="govuk-heading-l">History</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th

>
              <th scope="col" class="govuk-table__header">Time</th>
              <th scope="col" class="govuk-table__header">Action</th>
              <th scope="col" class="govuk-table__header">User</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">03/10/2025</td>
              <td class="govuk-table__cell">10:00:12</td>
              <td class="govuk-table__cell">Date of visit changed from 10/10/2024 to 11/10/2025</td>
              <td class="govuk-table__cell">Carlos Bernardo Jr</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">23/03/2023</td>
              <td class="govuk-table__cell">10:00:12</td>
              <td class="govuk-table__cell">Recommend to reject</td>
              <td class="govuk-table__cell">Daniel Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">24/03/2023</td>
              <td class="govuk-table__cell">09:30:00</td>
              <td class="govuk-table__cell">Recommended to pay</td>
              <td class="govuk-table__cell">Daniel Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25/03/2023</td>
              <td class="govuk-table__cell">11:10:15</td>
              <td class="govuk-table__cell">Authorise to reject</td>
              <td class="govuk-table__cell">Amanda Hassan</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">25/03/2023</td>
              <td class="govuk-table__cell">11:10:15</td>
              <td class="govuk-table__cell">Authorise to pay</td>
              <td class="govuk-table__cell">Amanda Hassan</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{# </div> #}

{% endblock %}
