{% extends "layouts/layout-defra-wide.html" %}

{% block pageTitle %}
Back office: Applications
{% endblock %}

{% block content %}
<!-- Title + Search -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters govuk-!-margin-top-2">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Claims
    </h1>

    {# {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({ text: "Create a new claim" }) }} #}

    
          
           <!-- New tabs here-->
    {# <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Claims
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="agreements.html">
            Agreements
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">Claims</h2> #}
        <div class="user-search-box govuk-!-width-two-thirds govuk-!-margin-bottom-1">
          <label class="govuk-label govuk-label--s" for="user-search">
            Find a claim<!-- by claim number, organisation, SBI or status-->
            <div id="search-hint" class="govuk-hint moj-search__hint ">
              Search by claim number or SBI number.
            </div>
          </label>
          <!--<div id="heading-hint" class="govuk-hint govuk-!-margin-bottom-3">
            Search by agreement number, status or single business identifier (SBI) number
    
          </div>-->
          <form action="/v7/l2/users/search/search-results-none" method="post" class="form">
            {% include "/prototypes/v05/views/backoffice/includes/search-bar.html" %}
          </form>
        </div>


        <details class="govuk-details govuk-!-margin-top-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Filter claims by
            </span>
          </summary>
          <div class="govuk-details__text">
            {# We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post. #}


            {# <h2 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-3">Filter by</h2> #}

            <div class="govuk-grid-row iahw-filters-group">
              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">
                {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

                {{ govukDateInput({
                  id: "passport-issued",
                  namePrefix: "passport-issued",
                  fieldset: {
                    legend: {
                      text: "Start vet visit date",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  }
                }) }}
                  {# ,
                  hint: {
                    text: "For example, 27 3 2007"
                  } #}
              </div>

              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">
                {{ govukDateInput({
                  id: "passport-issued",
                  namePrefix: "passport-issued",
                  fieldset: {
                    legend: {
                      text: "End date",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  }
                }) }}
                  {# ,
                  hint: {
                    text: "For example, 27 3 2007"
                  } #}
              </div>

              
            </div>

            <div class="govuk-grid-row iahw-filters-group">
              
              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">

                {% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                  id: "filter",
                  name: "filter",
                  label: {
                    text: "Claim type",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                  },
                  items: [
                    {
                      value: "all",
                      text: "All types",
                      selected: true
                    },
                    {
                      value: "review",
                      text: "Review"
                    },
                    {
                      value: "endemics",
                      text: "Endemics"
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">

                {% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                  id: "filter",
                  name: "filter",
                  label: {
                    text: "Species",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                  },
                  items: [
                    {
                      value: "all",
                      text: "All species",
                      selected: true
                    },
                    {
                      value: "beef",
                      text: "Beef cattle"
                    },
                    {
                      value: "dairy",
                      text: "Dairy cattle"
                    },
                    {
                      value: "pig",
                      text: "Pigs"
                    },
                    {
                      value: "sheep",
                      text: "Sheep"
                    }
                  ]
                }) }}
              </div>

              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">

                {% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                  id: "filter",
                  name: "filter",
                  label: {
                    text: "Flag",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                  },
                  items: [
                    {
                      value: "all",
                      text: "All flags",
                      selected: true
                    },
                    {
                      value: "agreed",
                      text: "Flagged"
                    },
                    {
                      value: "notagreed",
                      text: "Not flagged"
                    }
                  ]
                }) }}
              </div>


              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">

                {% from "govuk/components/select/macro.njk" import govukSelect %}

                {{ govukSelect({
                  id: "filter",
                  name: "filter",
                  label: {
                    text: "Status",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                  },
                  items: [
                    {
                      value: "all",
                      text: "All status",
                      selected: true
                    },
                    {
                      value: "ready",
                      text: "Ready to pay"
                    },
                    {
                      value: "incheck",
                      text: "In check"
                    },
                    {
                      value: "paid",
                      text: "Paid"
                    }
                  ]
                }) }}

              </div>

              
              
            </div>

            <div class="govuk-grid-row iahw-filters-group">
              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-0">
                {% from "govuk/components/button/macro.njk" import govukButton %}

                {{ govukButton({
                  text: "Apply filter",
                  classes: "govuk-button--secondary"
                }) }}
              </div>
              <div class="govuk-grid-column-one-quarter govuk-!-margin-top-2">
                <a href="#" class="govuk-link">Clear all filters</a>
              </div>
            </div>

          </div>
        </details>

        {% include "/prototypes/v05/views/backoffice/includes/claims-table.html" %}

        {# <table class="govuk-table" data-module="moj-sortable-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Claim number</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Type of visit</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">SBI</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Claim date</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
        
              <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>
        
        
            </tr>
          </thead>
        
          <tbody class="govuk-table__body">
        
        
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">REPI-6844-3029</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Review</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">11/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td>
        
            </tr>
        
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">REBC-5768-1122</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Review</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">11/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='#'>View claim</a></td>
        
            </tr>
        
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">FUSH-0099-1234</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Follow-up</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">10/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='#'>View claim</a></td>
        
            </tr>
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">FUBC-1029-5356</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Follow-up</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">10/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='#'>View claim</a></td>
        
            </tr>
        
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">REDC-5768-3334</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Review</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">09/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='#'>View claim</a></td>
        
            </tr>
        
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">FUPI-6844-3029</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Follow-up</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">09/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='#'>View claim</a></td>
        
            </tr>
    
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell">RESH-1110-2220</td>
        
              <td class="govuk-table__cell" data-sort-value="6194">Review</td>
        
              <td class="govuk-table__cell">000000000</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11/08/2022">09/07/2024</td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Agreed"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>
        
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='#'>View claim</a></td>
        
            </tr>
        
          </tbody>
          
        </table> #}
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">Agreements</h2>
        <div class="user-search-box govuk-!-width-two-thirds govuk-!-margin-bottom-7">
          <label class="govuk-label govuk-label--s" for="user-search">
            Search claim number, visit type, SBI, claim date or status<!-- by claim number, organisation, SBI or status-->
          </label>
          <!--<div id="heading-hint" class="govuk-hint govuk-!-margin-bottom-3">
            Search by agreement number, status or single business identifier (SBI) number
    
          </div>-->
          <form action="/v7/l2/users/search/search-results-none" method="post" class="form">
            <input class="govuk-input" id="user-search" name="user-search" type="text" aria-describedby="user-search-hint" spellcheck="false">
            <button style="background-color:#008938;" class="search-button" data-module="govuk-button">
                Search
            </button>
          </form>
        </div>

      </div>
    {# </div> #}
    <!-- New tabs end here -->

                    <!-- Start pagination-->
                    <nav class="govuk-pagination" aria-label="Pagination">
                        <!--<div class="govuk-pagination__prev">
                          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            <span class="govuk-pagination__link-title">
                              Previous<span class="govuk-visually-hidden"> page</span>
                            </span>
                          </a>
                        </div>-->
                        <ul class="govuk-pagination__list">
                          <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                              1
                            </a>
                          </li>
                          <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                              2
                            </a>
                          </li>
                          <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                              3
                            </a>
                          </li>
                        </ul>
                        <div class="govuk-pagination__next">
                          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                            <span class="govuk-pagination__link-title">
                              Next<span class="govuk-visually-hidden"> page</span>
                            </span>
                            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                          </a>
                        </div>
                      </nav>
                      <!-- End pagination -->
        </div>
       
                      
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Past month</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">98</td>
                <td class="govuk-table__cell">95</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">122</td>
                <td class="govuk-table__cell">131</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">126</td>
                <td class="govuk-table__cell">142</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
          <h2 class="govuk-heading-l">Past year</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">1380</td>
                <td class="govuk-table__cell">1472</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1129</td>
                <td class="govuk-table__cell">1083</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">1539</td>
                <td class="govuk-table__cell">1265</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      
      <!-- End tabs -->

  </div>
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    console.log( "ready!" );
    $("#claims").parent().addClass("govuk-service-navigation__item--active");
  });
</script>
{% endblock %}