{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  Content page template - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        IAHW Backoffice prototype
      </h1>

      {# <p>
        As-is 11 September 2025.
      </p> #}

      {# <h2 class="govuk-heading-m">Backoffice tool #}
        {# :<br>
        New users, not signed up to the scheme #}
      {# </h2> #}
      <ol class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link" href="/prototypes/v05/backoffice/claims.html?backoffice-user=team">Team member</a>
        </li>
        <li>
          <a class="govuk-link" href="/prototypes/v05/backoffice/claims.html?backoffice-user=leader">Team leader</a>
        </li>
        <li>
          <a class="govuk-link" href="/prototypes/v05/backoffice/claims.html?backoffice-user=authoriser">Authoriser</a>
        </li>
      </ol>


    </div>
  </div>

{% endblock %}
