{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Header for v1 -->
{{ govukHeader({
  homepageUrl: "holding-page",
  serviceName: "Get funding to improve animal health and welfare",
  serviceUrl: "../index-research"
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-your-answers" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "claimType",
        fieldset: {
          legend: {
            text: "Are you claiming for a review or follow-up?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Animal health and welfare review",
            text: "Animal health and welfare review"
          },
          {
            value: "Endemic disease follow-up",
            text: "Endemic disease follow-up"
          }
        ]
      }) }}

            {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>

  </div>

{% endblock %}
