    <!-- Sprint Documentation Summary Card -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Sprint 2: Even more species</h2>
        <p class="govuk-body-s">Last changed: 29 October 2024</p>
      </div>

      <div class="govuk-summary-card__content">

        <!-- User research links -->
        <h4 class="govuk-heading-s">Links to prototype journeys</h4>
        <p class="govuk-body"><a class="govuk-link" href="/prototype/page1">Check a giraffe</a><br>
        <a class="govuk-link" href="/prototype/page1">Submit a claim</a></p>


        
        <!-- Sprint Goal Section -->
        <h4 class="govuk-heading-s">Sprint Goal</h4>
        <p class="govuk-body">Let people claim for all the animals.</p>

        <!-- Hypotheses -->
        <h4 class="govuk-heading-s">Hypotheses and questions</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>How do users feel about the new agreement?</li>
          <li>Do users notice that they can check for all the animals now?</li>
          <li>We think this will make it faster to claim</li>
        </ul>

        <!-- What We Changed -->
        <h4 class="govuk-heading-s">What We Changed</h4>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Page</th>
              <th class="govuk-table__header">Changes</th>
              <th class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/prototype/page1">Manage your claim</a>
              </td>
              <td class="govuk-table__cell">Removed tabs.</td>
              <td class="govuk-table__cell">
                {{ statusTag("Ready for UR") }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/prototype/page2">Guidance</a>
              </td>
              <td class="govuk-table__cell">Clarified timing rules.</td>
              <td class="govuk-table__cell">
                {{ statusTag("Design in progress") }}
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Key Insights from Research -->
        <h4 class="govuk-heading-s">Key Insights from Research</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Very few farmers in the UK have giraffes. Descope?</li>
          <li>It seemed faster to claim to participants.</li>
          <li>Some participants were not sure if any animals were not eligible.</li>
        </ul>

      </div>
    </div>