{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Header for v1 -->
{{ govukHeader({
  homepageUrl: "holding-page",
  serviceName: "Get funding to improve animal health and welfare",
  serviceUrl: "../index-research"
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="200-claim-type" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "species-type",
        fieldset: {
          legend: {
            text: "Which species are you claiming for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Beef cattle",
            text: "Beef cattle"
          },
          {
            value: "Dairy cattle",
            text: "Dairy cattle"
          },
          {
            value: "Pigs",
            text: "Pigs"
          },
          {
            value: "Sheep",
            text: "Sheep"
          }
        ]
      }) }}

      {# <input type="hidden" name="nextPage" value="/new-user/check-your-answers"> #}


            {# {{ govukButton({
              text: "Continue",
              href: "200-claim-type",
              isStartButton: false
            }) }} #}

      {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>

  </div>

{% endblock %}
