{% extends "layouts/main.html" %}

{% block pageTitle %}
  Farmers: how to apply for funding to improve animal health and welfare
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Farming and food grants and payments</a>
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        What a vet needs to do on an animal health and welfare review and endemic disease follow-up
      </h1>

      <p class="govuk-body-l">Farmers should send this guidance to their vet, so they can see what to do on a review or follow-up. This guidance includes details of testing, how to advise, and what information to provide.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">
        From: <a href="#">Department for Environment, Food and Rural Affairs</a> and <a href="#">Rural Payments Agency</a>
        Published 19 June 2024<br/>
        Last updated 10 October 2024 - <a href="#">See all updates</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      {{ govukButton({
        text: "Get emails about this page",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}

      <!-- Grey box -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <div class="custom-grey-box-guidance">
        <h2 class="govuk-heading-s">
          Applies to England
        </h2>
      </div>


      {# <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#what-you-could-get">
                What you could get
              </a>
            </li> #}
            {# <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
               <a href="#animal-health-and-welfare-review">
                Animal health and welfare review
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#endemic-disease-follow-up">
                Endemic disease follow-up
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#who-can-get-funding">
                Who can get funding
              </a>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#timing-of-reviews-and-follow-ups">
                Timing of reviews and follow-ups
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#what-to-do-if-you-completed-a-review">
                What to do if you completed a review in the old animal and health welfare service
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#start-your-application">
                Start your application
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#get-help-with-your-application">
                Get help with your application
              </a>
            </li>
            </li> #}
          </ol>
        </nav>
      </aside>
{# 

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <!-- Print button -->

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Print this page
      </button>  #}



      <!-- Pathway -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <p class="govuk-body">This service is called 'Get funding to improve animal health and welfare'. It forms part of the Animal Health and Welfare Pathway. It's designed to help farmers:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>test for endemic diseases and conditions</li>
          <li>increase animal productivity</li>
          <li>improve animal welfare</li>
        </ul>

      <p class="govuk-body">There are 2 parts to the service:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>animal health and welfare review</li>
          <li>endemic disease follow-up</li>
        </ul>
      </p>

      <p class="govuk-body">
        A follow-up can only be done after a review and on the same species as the review. For the farmer to be eligible to claim funding, they must follow the timing rules. To help the farmer follow the timing rules, you can read more about <a href="#">timing of reviews</a> and <a href="#">timing of follow-ups</a>.
      </p>

      <p class="govuk-body">
        Reviews and follow-ups are not inspections or audits.
      </p>

      {# <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          All your reviews and follow-ups must be done on the same species.
        </strong>
      </div> #}


      <!-- Who can take part -->

      <h2 id="what-you-could-get" class="govuk-heading-m">
        Who can take part
      </h2>
      <p class="govuk-body">
        A farmer is eligible if they keep any of the following per herd or flock:
        <ul class="govuk-list govuk-list--bullet">
          <li>11 or more beef cattle</li>
          <li>11 or more dairy cattle</li>
          <li>51 or more pigs</li>
          <li>21 or more sheep</li>
        </ul>
      </p>

      <!-- Arrange a review or follow-up  -->

      <h2 id="what-you-could-get" class="govuk-heading-m">
        Arrange a review or follow-up 
      </h2>

      <p class="govuk-body">
        The farmer will contact you to arrange a review or follow-up. 
      </p>
      
      <p class="govuk-body">
        Review and follow-ups do not have a set time, but they typically take between 2 and 3 hours.
      </p>

      <p class="govuk-body">
        The farmer can agree with you to do a review or follow-up either:
        <ul class="govuk-list govuk-list--bullet">
          <li>over several visits to the farm</li>
          <li>in a single visit</li>
        </ul>
      </p>

      <!-- What a farmer will ask the vet to do  -->

      <h2 id="what-you-could-get" class="govuk-heading-m">
        What a farmer will ask the vet to do 
      </h2>

      <p class="govuk-body">
        The farmer will ask the vet to follow the steps in the <a href="#">review guidance</a> or <a href="#">follow-up guidance</a>.
      </p>
      
      <!-- Required testing   -->

      <h2 id="what-you-could-get" class="govuk-heading-m">
        Required testing 
      </h2>
      
      <p class="govuk-body">
        The vet guidance has information on:
        <ul class="govuk-list govuk-list--bullet">
          <li>testing and specifications a laboratory needs to meet </li>
          <li>what you need to include in a summary and written report</li>
          <li>how to confirm a herd with our 'Tell us about a herd or flock' section of the form</li>
        </ul>
      </p>

      <p class="govuk-body">
        Read vet guidance for:</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Cattle</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Pigs</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sheep</a>
        </li>
      </ul>

      <!-- Vet templates   -->

      <h2 id="what-you-could-get" class="govuk-heading-m">
        Vet templates 
      </h2>

      <p class="govuk-body">
        There are vet templates your vet can use to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Provide the information about the visit, so you can make a claim</li>
        <li>Confirm the herd that they did the visit for</li>
      </ul>
      
      <p class="govuk-body">
        <a href="guidance-vet-download">
        Vet summary templates for all species
        </a>
      </p>

      <h3 id="what-you-could-get" class="govuk-heading-m">
        Other schemes
      </h2>

      <p class="govuk-body">
        The farmer cannot use other accreditation scheme test results for this funding.
      </p>

      <p class="govuk-body">
        They can use the review or follow-up test results for other accreditation schemes they're a member of. They should also check with the accreditation scheme that they'll accept testing from the review or follow-up.
      </p>

      <p class="govuk-body">
        <a href="#">
        Funding to improve animal health and welfare: guidance for farmers and vets
        </a>
      </p>



    </div>
  </div>

{% endblock %}
