{% extends "layouts/main.html" %}

{% block pageTitle %}
  Farmers: how to claim funding to improve animal health and welfare
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Environment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Food and farming</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Farming and food grants and payments</a>
      </li>
    </ol>
  </nav>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        Planning an animal health and welfare review 
      </h1>

      <p class="govuk-body-l">You can do up to 3 reviews per species, on any number of herds or flocks, as part of your IAHW agreement.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">
        From: <a href="#">Department for Environment, Food and Rural Affairs</a> and <a href="#">Rural Payments Agency</a>
        Published 19 June 2024<br/>
        Last updated 10 October 2024 - <a href="#">See all updates</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      {{ govukButton({
        text: "Get emails about this page",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}

      <!-- Grey box -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <div class="custom-grey-box-guidance">
        <h2 class="govuk-heading-s">
          Applies to England
        </h2>
      </div>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#when-to-have-a-review">
                When to have a review 
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#get-help-with-your-review">
                Get help with your review
              </a>
            </li>
          </ol>
        </nav>
      </aside>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <!-- Print button -->

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Print this page
      </button>

      <p class="govuk-body">An animal health and welfare review is the first part of the 'Get funding to improve animal health and welfare' &#40IAHW&#41 service. It will include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>assessment of diseases and conditions</li>
        <li>advice on improving animal health, welfare and productivity</li>
      </ul>

      <p class="govuk-body">You must have an IAHW agreement before you do a review, you should provide your vet with your IAHW agreement number. A review usually takes between 2 and 3 hours. It can happen:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>over several visits</li>
        <li>in a single visit</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

      <!-- When to have a review -->

      <h2 id="when-to-have-a-review" class="govuk-heading-m">
        When to have a review
      </h2>

      <p class="govuk-body">To be eligible to claim for animal health and welfare reviews, you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have an Improve Animal Health and Welfare &#40IAHW&#41 agreement in place before you do your first review, including any sampling or testing</li>
        <li>ensure reviews on herds or flocks of a particular species, are at least 10 months apart</li>
        <li>have no more than 3 reviews on any number of herds or flocks per species by 19 June 2027</li>
      </ul>

      <p class="govuk-body">After the vet has completed a review, you can choose to have an endemic disease follow-up.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Get help with your review -->

      <h2 id="get-help-with-your-review" class="govuk-heading-m">
        Get help with your review
      </h2>

      <p class="govuk-body">Contact the RPA and give your IAHW agreement number if you need help arranging or completing your review.</p>

      <!-- Contact details -->

      <p class="govuk-body">Rural Payments Agency</p>

      <p class="govuk-body">PO Box 352</p>

      <p class="govuk-body">Worksop</p>

      <p class="govuk-body">S80 9FG</p>

      <p class="govuk-body">Email: <a href="#">ruralpayments@defra.gov.uk</a>
      </p>

      <ul class="govuk-list govuk-list">
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm, except public holidays</li>
      </ul>

      <p class="govuk-!-padding-top-6 govuk-body"><a href="no-design-yet">Find out about call charges</a>
      </p>

      <p class="govuk-!-padding-bottom-6 govuk-body"><a href="no-design-yet">Funding to improve animal health and welfare: guidance for farmers and vets</a>
      </p>

    </div>
  </div>

{% endblock %}