{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Minimum number of livestock
      </h1>

      <p class="govuk-body">
        Each time you do a review or follow-up, you must have the minimum number of the species you choose. The minimums needed for each species are:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>11 beef cattle</li>
        <li>11 dairy cattle</li>
        <li>51 pigs</li>
        <li>21 sheep</li>
      </ul>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          href: "agreement-timings"
        }) }}

        {{ govukButton({
          text: "I do not agree - reject agreement",
          href: "#",
          classes: "govuk-button--secondary"
        }) }}
      </div>


    </div>

  </div>

{% endblock %}
