{% extends "layouts/main-logged.html" %}

{% block pageTitle %}
  What was the rest result? – {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}

{# // Login information #}
      <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-padding-top-2 govuk-!-border-bottom-1">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Omni Consumer Products Ltd</h2>
          <p class="govuk-body govuk-!-margin-bottom-0"><strong>Single Business Identifier (SBI):</strong> 234567890</p>
          <p class="govuk-body govuk-!-margin-bottom-0"><strong>Agreement holder:</strong> Clarence J. Boddicker</p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-display-flex govuk-!-justify-content-flex-end govuk-!-align-items-center govuk-!-flex-wrap-wrap">
          <div class="govuk-!-text-align-right">
            {# <p class="govuk-heading-m govuk-!-margin-bottom-0">Jane Doe</p> #}
            <a class="govuk-body govuk-link" href="#">Claim for a different business</a>
          </div>
        </div>
      </div>

      {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-0">

      <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-padding-top-2 govuk-!-border-bottom-2">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-0"><strong>Agreement number:</strong> IAHW-2345-6789</p>
          <p class="govuk-body govuk-!-margin-bottom-0"><strong>Species included in this agreement:</strong> poultry</p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-display-flex govuk-!-justify-content-flex-end govuk-!-align-items-center govuk-!-flex-wrap-wrap">
          <div class="govuk-!-text-align-right">
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-body govuk-link" href="agreement-summary">Download agreement summary</a></p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-body govuk-link" href="select-funding-claim">Claim for a different agreement</a></p>
          </div>
        </div>
      </div> #}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-0">

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {# <div class="govuk-form-group">



        </div> #}

        {% set cattleFunding = "<strong>Agreement number:</strong> IAHW-91254-88277<br />Create or manage claims for this agreement" %}
        {% if data['cattle'] === "yes" %}
        {% set cattleFunding = "<strong>Agreement number:</strong> IAHW-91254-88277<br />Create or manage claims for this agreement" %}
        {% else %}
        {% set cattleFunding = "Create an agreement for improve animal health and welfare for cattle, pigs and sheep" %}
        {% endif %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "funding",
          id: "funding",
          fieldset: {
            legend: {
              text: "Select funding",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "cattle",
              html: "<strong>Cattle, pig, and sheep review and follow-up</strong>",
              classes: "govuk-!-font-weight-bold",
              hint: {
                html: cattleFunding
              }
            },
            {
              value: "poultry",
              html: "<strong>Poultry biosecurity review</strong>",
              classes: "govuk-!-font-weight-bold",
              hint: {
                html: "Create an agreement for poultry biosecurity assessments"
              }
            }
          ]
        }) }}

        {% set hrefFunding = "manage-your-claims?populated=true" %}
        {% if data['funding'] === "poultry" %}
        {% set hrefFunding = "manage-your-claims?populated=true&funding=cattle" %}
        {% else %}
          {% if data['poultry'] === "yes" %}
            {% set hrefFunding = "/prototypes/poultry-v01/new-user/manage-your-claims?populated=true" %}
          {% else %}
            {% set hrefFunding = "/prototypes/poultry-v01/new-user/you-can-claim-multiple" %}
          {% endif %}
        {% endif %}
        {# {% set animalType = data['animal-type'] or 'Beef cattle' %} #}

        
        {{ govukButton({
          text: "Continue",
          href: hrefFunding,
          isStartButton: false
        }) }}









    </div>

  </div>

{% endblock %}
