{% extends "layouts/main-logged-agreement.html" %}

{% block pageTitle %}
  Sign in {{ serviceName }} Prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Update your details
      </h1>

      <p class="govuk-body">
        If your details are not correct, you need to update them before you can get funding to Improve Animal Health and Welfare (IAHW). You'll need to use the Land and Farm Service (LFS) to do this.
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Update your details on the Land and Farm Service</a>
      </p>

      <h2 class="govuk-heading-l">
        Contact the Rural Payments Agency for help
      </h2>

      <p class="govuk-body">
        Email: <a href="#" class="govuk-link">ruralpayments@defra.gov.uk</a>
      </p>

      <p class="govuk-body">
        Telephone: 03000 200 301<br />
        Monday to Friday, 8:30am to 5pm, except bank holidays
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Find out about call charges (opens in a new tab)</a>
      </p>

      

    </div>
  </div>

{% endblock %}
