<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Claim number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Type of visit</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Species</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Herd name</th>
      <th scope="col" class="govuk-table__header">Herd CPH</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Claim date</th>

      <th scope="col" class="govuk-table__header" aria-sort="none" style="text-align: right;">Status</th>

      {# <th scope="col" class="govuk-table__header" aria-sort="none" style="text-align: right;">Details</th> #}


    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a href='claim.html'>REPI-6844-3029</a></td>

      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pigs</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Commercial</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">12/345/6789</td>

      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">11/07/2024</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>

      {# <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td> #}

    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a href='claim.html'>REPI-6844-3029</a></td>

      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pigs</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pedigree</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">12/345/6789</td>

      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">11/07/2024</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>

      {# <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td> #}

    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a href='claim.html'>REPI-6844-3029</a></td>

      <td class="govuk-table__cell" data-sort-value="Type of visit">Follow-up</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pigs</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Commercial</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">12/345/6789</td>

      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">11/07/2024</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>

      {# <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td> #}

    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a href='claim.html'>REPI-6844-3029</a></td>

      <td class="govuk-table__cell" data-sort-value="Type of visit">Follow-up</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pigs</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pedigree</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">12/345/6789</td>

      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">11/07/2024</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>

      {# <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td> #}

    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a href='claim.html'>REPI-6844-3029</a></td>

      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pigs</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Commercial</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">12/345/6789</td>

      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">11/07/2024</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--blue">Ready to pay</strong></td>

      {# <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td> #}

    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell"><a href='claim.html'>REPI-6844-3029</a></td>

      <td class="govuk-table__cell" data-sort-value="Type of visit">Review</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pigs</td>

      <td class="govuk-table__cell" data-sort-value="Sheep">Pedigree</td>
      <td class="govuk-table__cell" data-sort-value="Sheep">12/345/6789</td>

      <td class="govuk-table__cell govuk-table__cell--date" data-sort-value="02/01/2023">11/07/2024</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="Rejected"><strong class="govuk-tag govuk-tag--blue">Ready to pay</strong></td>

      {# <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="#"><a href='claim.html'>View claim</a></td> #}

    </tr>
  

    

   <!-- <tr class="govuk-table__row">

      <td class="govuk-table__cell">AHWR-F022-321G</td>

      <td class="govuk-table__cell" data-sort-value="Pig">Pig</td>

      <td class="govuk-table__cell">Pig Herd M</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="01/11/2022">13/02/2023</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="In check"><strong class="govuk-tag govuk-tag--purple">On hold</strong></td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="In check"><a href='../back-office/internal/x-fearnley-farm-pig.html'>View claim</a></td>

    </tr>-->







  </tbody>
</table>