<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th
        scope="col"
        class="govuk-table__header"
        {# aria-sort="none"
        data-url="/agreements/sort/Reference" #}
      >
        {# <button type="button" data-index="0"> #}
          Agreement number
        {# </button> #}
      </th>

      <th
        scope="col"
        class="govuk-table__header"
        {# aria-sort="none"
        data-url="/agreements/sort/Reference" #}
      >
        {# <button type="button" data-index="0"> #}
          Claim number and type
        {# </button> #}
      </th>

      <th
        scope="col"
        class="govuk-table__header"
      >
        Change
      </th>

      {# <th scope="col" class="govuk-table__header">
        <span>Flagged 🚩</span>
      </th> #}

      {# <th
        scope="col"
        class="govuk-table__header"
        aria-sort="none"
        data-url="/agreements/sort/Organisation"
      >
        <button type="button" data-index="2">Organisation</button>
      </th> #}

      {# <th
        scope="col"
        class="govuk-table__header govuk-table__header--numeric"
        aria-sort="none"
        data-url="/agreements/sort/SBI"
      >
        <button type="button" data-index="3">SBI number</button>
      </th> #}

      <th
        scope="col"
        class="govuk-table__header govuk-table__header--date"
        aria-sort="none"
        data-url="/agreements/sort/Apply date"
      >
        <button type="button" data-index="4">Change date</button>
      </th>

      <th
        scope="col"
        class="govuk-table__header"
        {# aria-sort="none"
        data-url="/agreements/sort/Status" #}
      >
        {# <button type="button" data-index="5"> #}
          Status
        {# </button> #}
      </th>

      <th scope="col" class="govuk-table__header">Details</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {# <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>

      <td class="govuk-table__cell">
        <div>
          <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          >
          <p class="govuk-!-margin-0 responsive-text">Review</p>
        </div>
      </td>

      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        URN changed
      </td>

      <td class="govuk-table__cell"></td>

      <td class="govuk-table__cell" data-sort-value="MR DR PENNY">
        MR DR PENNY
      </td>

      <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="107096477"
      >
        107096477
      </td>

      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>

      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--green">Approved</span></span
        >
      </td>

      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr> #}


    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>
      <td class="govuk-table__cell">
        <div>
          <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          >
          <p class="govuk-!-margin-0 responsive-text">Review</p>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        URN changed
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>
      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--yellow">Pending</span></span
        >
      </td>
      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>
      <td class="govuk-table__cell">
        <div>
          {# <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          > #}
          N/A
          {# <p class="govuk-!-margin-0 responsive-text">Review</p> #}
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        New agreement via Assisted Digital
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>
      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--yellow">Pending</span></span
        >
      </td>
      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>
      <td class="govuk-table__cell">
        <div>
          <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          >
          <p class="govuk-!-margin-0 responsive-text">Review</p>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        New claim via Assisted Digital
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>
      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--yellow">Pending</span></span
        >
      </td>
      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>
      <td class="govuk-table__cell">
        <div>
          <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          >
          <p class="govuk-!-margin-0 responsive-text">Review</p>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        Date of visit changed
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>
      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--yellow">Pending</span></span
        >
      </td>
      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>
      <td class="govuk-table__cell">
        <div>
          <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          >
          <p class="govuk-!-margin-0 responsive-text">Review</p>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        RCVS changed
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>
      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--yellow">Pending</span></span
        >
      </td>
      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        <a
          class="govuk-!-margin-0 responsive-text"
          href="business.html"
          >IAHW-8LKQ-V9EL</a
        >
      </td>
      <td class="govuk-table__cell">
        <div>
          <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
          >
          <p class="govuk-!-margin-0 responsive-text">Review</p>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="IAHW-8LKQ-V9EL">
        URN changed
      </td>
      <td
        class="govuk-table__cell govuk-table__cell--date"
        data-sort-value="2025-09-29T14:41:33.995Z"
      >
        29/09/2025
      </td>
      <td class="govuk-table__cell" data-sort-value="AGREED">
        <span class="app-long-tag"
          ><span class="govuk-tag govuk-tag--yellow">Pending</span></span
        >
      </td>
      <td class="govuk-table__cell">
        <a
          href="audit/date-visit.html"
          >View change</a
        >
      </td>
    </tr>

  </tbody>
</table>
