<table
class="govuk-table fixed-layout-table"
data-module="moj-sortable-table"
>
<thead class="govuk-table__head">
    <tr class="govuk-table__row">
    <th
        scope="col"
        class="govuk-table__header col-12 responsive-text"
        {# aria-sort="none"
        data-url="claims/sort/claim number" #}
    >
        {# <button type="button" data-index="0"> #}
        Claim number and type
        {# </button> #}
    </th>

    <th
        scope="col"
        class="govuk-table__header col-6 responsive-text"
    >
        <span>Flagged
             {# 🚩 #}
        </span>
    </th>

    <th
        scope="col"
        class="govuk-table__header col-6 responsive-text"
        {# aria-sort="none"
        data-url="claims/sort/species" #}
    >
        {# <button type="button" data-index="2"> #}
        Species
        {# </button> #}
    </th>

    <th
        scope="col"
        class="govuk-table__header col-25 responsive-text"
    >
        Herd name
    </th>

    <th
        scope="col"
        class="govuk-table__header col-6 responsive-text"
    >
        Herd CPH
    </th>

    <th
        scope="col"
        class="govuk-table__header govuk-table__header--numeric col-6 align-left responsive-text"
        {# aria-sort="none"
        data-url="/claims/sort/SBI" #}
    >
        {# <button type="button" data-index="5"> #}
        SBI number
        {# </button> #}
    </th>

    <th
        scope="col"
        class="govuk-table__header govuk-table__header--date col-6 align-left responsive-text"
        aria-sort="none"
        data-url="claims/sort/claim date"
    >
        <button type="button" data-index="6">
        Claim date
        </button>
    </th>

    <th
        scope="col"
        class="govuk-table__header col-6 responsive-text"
        style="text-align: right;"
        {# aria-sort="none"
        data-url="claims/sort/status" #}
    >
        {# <button type="button" data-index="7"> #}
        Status
        {# </button> #}
    </th>
    </tr>
</thead>

<tbody class="govuk-table__body">
    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-F775-GVVX</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="beef"
    >
        Beef cattle
    </td>

    <td class="govuk-table__cell responsive-text">
        b1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/322/4322
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="107096477"
    >
        107096477
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-29T14:44:52.512Z"
    >
        29/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell flagged-item">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >RESH-M385-75C8</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        <span>Yes</span>
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        REDACTED_HERD_NAME
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        REDACTED_CPH
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left flagged-item"
        data-sort-value="106293418"
    >
        106293418
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left flagged-item"
        data-sort-value="2025-09-26T11:00:31.196Z"
    >
        26/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric flagged-item"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell flagged-item">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >RESH-D9H7-BJQX</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        <span>Yes</span>
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        Unnamed flock
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        -
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left flagged-item"
        data-sort-value="106293418"
    >
        106293418
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left flagged-item"
        data-sort-value="2025-09-26T10:56:34.895Z"
    >
        26/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric flagged-item"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >FUPI-4496-S18L</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Endemics
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        Pig demo positive test result
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/3333
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106639701"
    >
        106639701
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-26T09:33:39.664Z"
    >
        26/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >FUSH-TKEQ-ZQ4P</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Endemics
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td class="govuk-table__cell responsive-text">
        s1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/6587
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="200439296"
    >
        200439296
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-24T14:53:37.240Z"
    >
        24/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >RESH-NKTY-4UFL</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td class="govuk-table__cell responsive-text">
        s1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/6587
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="200439296"
    >
        200439296
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-24T14:49:42.785Z"
    >
        24/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >FUPI-DMKU-47VB</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Endemics
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        herd 1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/355/7686
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106592443"
    >
        106592443
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-24T14:12:58.240Z"
    >
        24/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REPI-2RIA-E54W</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        herd 1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/355/7686
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106592443"
    >
        106592443
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-24T13:59:17.571Z"
    >
        24/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-IQDU-K8XP</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="beef"
    >
        Beef cattle
    </td>

    <td class="govuk-table__cell responsive-text">
        S Smith
    </td>

    <td class="govuk-table__cell responsive-text">
        11/111/1111
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106853564"
    >
        106853564
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-23T18:04:45.265Z"
    >
        23/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >RESH-MU5B-Z59E</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td class="govuk-table__cell responsive-text">
        S1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/233/2223
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="107097991"
    >
        107097991
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-23T09:56:12.015Z"
    >
        23/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >FUSH-H4YD-EV2K</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Endemics
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td class="govuk-table__cell responsive-text">
        PK herd1
    </td>

    <td class="govuk-table__cell responsive-text">
        22/222/2222
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="200714542"
    >
        200714542
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-11T09:20:12.706Z"
    >
        11/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >RESH-PIQR-HHXR</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="sheep"
    >
        Sheep
    </td>

    <td class="govuk-table__cell responsive-text">
        s1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/3333
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106293418"
    >
        106293418
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-09T16:36:47.679Z"
    >
        09/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >FUPI-WKTW-AJQE</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Endemics
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        P1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/3333
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106345476"
    >
        106345476
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-09T08:36:43.567Z"
    >
        09/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="IN CHECK"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag--orange"
            >In check</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REPI-3JR1-XSL3</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        P1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/3333
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106345476"
    >
        106345476
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-09-09T08:30:13.879Z"
    >
        09/09/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-MMZP-HGK1</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="beef"
    >
        Beef cattle
    </td>

    <td class="govuk-table__cell responsive-text">
        Test
    </td>

    <td class="govuk-table__cell responsive-text">
        11/111/1111
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106734901"
    >
        106734901
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-08-20T09:44:17.432Z"
    >
        20/08/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell flagged-item">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REPI-XDHJ-XHJN</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        <span>Yes</span>
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        qq
    </td>

    <td
        class="govuk-table__cell responsive-text flagged-item"
    >
        12/342/4543
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left flagged-item"
        data-sort-value="108477971"
    >
        108477971
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left flagged-item"
        data-sort-value="2025-08-18T13:00:00.489Z"
    >
        18/08/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric flagged-item"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REBC-6L4Q-FKV9</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="beef"
    >
        Beef cattle
    </td>

    <td class="govuk-table__cell responsive-text">
        asndsajkdkj
    </td>

    <td class="govuk-table__cell responsive-text">
        11/111/1111
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="107209382"
    >
        107209382
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-08-18T10:00:22.503Z"
    >
        18/08/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REDC-7G73-TY22</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="dairy"
    >
        Dairy cattle
    </td>

    <td class="govuk-table__cell responsive-text">
        D1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/222/3333
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="106616010"
    >
        106616010
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-08-13T13:28:53.287Z"
    >
        13/08/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REPI-2QJ8-IFVK</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        SAM 2
    </td>

    <td class="govuk-table__cell responsive-text">
        11/111/1111
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="107680408"
    >
        107680408
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-08-06T10:24:30.443Z"
    >
        06/08/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        <div>
        <a
            class="govuk-!-margin-0 responsive-text"
            href="claim.html"
            >REPI-SX14-82FL</a
        >
        <p class="govuk-!-margin-0 responsive-text">
            Review
        </p>
        </div>
    </td>

    <td class="govuk-table__cell responsive-text"></td>

    <td
        class="govuk-table__cell responsive-text"
        data-sort-value="pigs"
    >
        Pigs
    </td>

    <td class="govuk-table__cell responsive-text">
        SAM 1
    </td>

    <td class="govuk-table__cell responsive-text">
        11/111/1111
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric responsive-text align-left"
        data-sort-value="107680408"
    >
        107680408
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--date responsive-text align-left"
        data-sort-value="2025-08-06T08:41:42.078Z"
    >
        06/08/2025
    </td>

    <td
        class="govuk-table__cell govuk-table__cell--numeric"
        data-sort-value="READY TO PAY"
    >
        <span class="app-long-tag"
        ><span
            class="govuk-tag responsive-text govuk-tag"
            >Ready to pay</span
        ></span
        >
    </td>
    </tr>
</tbody>
</table>