<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Agreement number</th>

      <th scope="col" class="govuk-table__header">SBI</th>

      <th scope="col" class="govuk-table__header">Note</th>

      <th scope="col" class="govuk-table__header">
        Created by
      </th>

      <th scope="col" class="govuk-table__header govuk-table__header--date"
        aria-sort="none"
        data-url="/agreements/sort/Apply date"
      >
        <button type="button" data-index="0">
          Created at
        </button>
      </th>

      <th scope="col" class="govuk-table__header" title="Flagged due to multiple herds">
        MH
        {# Flagged due to multiple herds #}
      </th>

      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">AHWR-A271-8752</td>

      <td class="govuk-table__cell">107597689</td>

      <td class="govuk-table__cell">Application PII redacted</td>

      <td class="govuk-table__cell">admin</td>

      <td class="govuk-table__cell">01/10/2025, 13:59</td>

      <td class="govuk-table__cell">No</td>

      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-JBU1-6BYF</td>

      <td class="govuk-table__cell">107314916</td>

      <td class="govuk-table__cell">Customer refuses new T&amp;C conditions</td>

      <td class="govuk-table__cell">Kerswill, Jordan</td>

      <td class="govuk-table__cell">08/05/2025, 14:22</td>

      <td class="govuk-table__cell">Yes</td>

      <td class="govuk-table__cell">
        {# <a
          class="govuk-button govuk-button--warning"
          data-module="govuk-button"
          href="https://ffc-ahwr-backoffice-test.azure.defra.cloud/flags?deleteFlag=f778af78-33dd-447a-8e00-e63f6024e2bc"
          data-govuk-button-init=""
          >Delete flag</a
        > #}
        {# <p class="govuk-body"> #}
          <a href="delete-flag.html" class="govuk-link">Delete flag</a>
        {# </p> #}
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-AAAA-AAAA</td>

      <td class="govuk-table__cell">107597689</td>

      <td class="govuk-table__cell">REDACTED_NOTE</td>

      <td class="govuk-table__cell">Admin</td>

      <td class="govuk-table__cell">23/05/2025, 11:06</td>

      <td class="govuk-table__cell">Yes</td>

      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-AAAA-AAAA</td>

      <td class="govuk-table__cell">107597689</td>

      <td class="govuk-table__cell">Application PII redacted</td>

      <td class="govuk-table__cell">admin</td>

      <td class="govuk-table__cell">01/10/2025, 13:59</td>

      <td class="govuk-table__cell">No</td>

      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-Y5R6-WX5C</td>

      <td class="govuk-table__cell">200677499</td>

      <td class="govuk-table__cell">Test</td>

      <td class="govuk-table__cell">Berlin Bernadin (Equal Experts)</td>

      <td class="govuk-table__cell">08/07/2025, 15:12</td>

      <td class="govuk-table__cell">Yes</td>

      <td class="govuk-table__cell">
        {# <a
          class="govuk-button govuk-button--warning"
          data-module="govuk-button"
          href="https://ffc-ahwr-backoffice-test.azure.defra.cloud/flags?deleteFlag=da5a06bb-7c44-4b7f-93e8-4c37100c3b02"
          data-govuk-button-init=""
          >Delete flag</a
        > #}
        {# <p class="govuk-body"> #}
          <a href="delete-flag.html" class="govuk-link">Delete flag</a>
        {# </p> #}
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-AC83-GH79</td>

      <td class="govuk-table__cell">108477971</td>

      <td class="govuk-table__cell">Testing flagging</td>

      <td class="govuk-table__cell">Berlin Bernadin (Equal Experts)</td>

      <td class="govuk-table__cell">21/08/2025, 11:19</td>

      <td class="govuk-table__cell">Yes</td>

      <td class="govuk-table__cell">
        {# <a
          class="govuk-button govuk-button--warning"
          data-module="govuk-button"
          href="https://ffc-ahwr-backoffice-test.azure.defra.cloud/flags?deleteFlag=e49b53d9-ecaa-4807-8410-47f6b1ca7db0"
          data-govuk-button-init=""
          >Delete flag</a
        > #}
        {# <p class="govuk-body"> #}
          <a href="delete-flag.html" class="govuk-link">Delete flag</a>
        {# </p> #}
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-BQAC-SWF4</td>

      <td class="govuk-table__cell">106221605</td>

      <td class="govuk-table__cell">Application PII redacted</td>

      <td class="govuk-table__cell">admin</td>

      <td class="govuk-table__cell">19/09/2025, 11:47</td>

      <td class="govuk-table__cell">No</td>

      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">AHWR-B271-8620</td>

      <td class="govuk-table__cell">122385434</td>

      <td class="govuk-table__cell">Application PII redacted</td>

      <td class="govuk-table__cell">admin</td>

      <td class="govuk-table__cell">17/09/2025, 13:34</td>

      <td class="govuk-table__cell">No</td>

      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-DWBW-7IWY</td>

      <td class="govuk-table__cell">122385434</td>

      <td class="govuk-table__cell">Application PII redacted</td>

      <td class="govuk-table__cell">admin</td>

      <td class="govuk-table__cell">25/09/2025, 15:08</td>

      <td class="govuk-table__cell">No</td>

      <td class="govuk-table__cell"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">IAHW-VPUC-9V1Y</td>

      <td class="govuk-table__cell">106293418</td>

      <td class="govuk-table__cell">Application PII redacted</td>

      <td class="govuk-table__cell">admin</td>

      <td class="govuk-table__cell">26/09/2025, 12:30</td>

      <td class="govuk-table__cell">No</td>

      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
