{% extends "layouts/main.html" %}

{% block pageTitle %}
  Funding to improve animal health and welfare: guidance for farmers and vets
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Farming and food grants and payments</a>
    </li>
  </ol>
</nav>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Collection</span>
      <h1 class="govuk-heading-l">
        Funding to improve animal health and welfare
      </h1>

      <p class="govuk-body-l">Cattle, pig and sheep farmers can get funding for vet services. This includes disease testing and advice to improve welfare and productivity.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s">
        From: <a href="#">Department for Environment, Food and Rural Affairs</a> and <a href="#">Rural Payments Agency</a>
        Published 19 June 2024<br/>
        Last updated 23 October 2024 - <a href="#">See all updates</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      {{ govukButton({
        text: "Get emails about this page",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#farmers-apply-for-funding">
                Farmers: apply for funding
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
               <a href="#farmers-and-vets-arrange-and-do-a-review">
              Farmers and vets: arrange and do a review
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#vets-how-to-do-a-review">
                Vets: how to do a review
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#farmers-claim-funding-for-the-review">
                Farmers: claim funding for the review
              </a>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#farmers-and-vets-arrange-and-do-a-follow-up">
                Farmers and vets: arrange and do a follow-up
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#vets-how-to-do-a-follow-up">
                Vets: how to do a follow-up
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#farmers-claim-funding-for-the-follow-up">
                Farmers: claim funding for the follow-up
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#terms-and-conditions">
                Terms and conditions
              </a>
            </li>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#other-sources-of-funding">
                Other sources of funding
              </a>
            </li>
          </ol>
        </nav>
      </aside>

      <!-- Grey box -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <div class="custom-grey-box">
        <p class="govuk-body">
          This service used to be the annual health and welfare review. It has been expanded to include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>changes to the review, which is now called the animal health and welfare review</li>
          <li>the second part of the service, which is the endemic disease follow-up</li>
        </ul>
      </div>



      <!-- Pathway -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

      <p class="govuk-body">This service forms part of the Animal Health and Welfare Pathway.</p>

      <p class="govuk-body">To get funding, you must have an Improve Animal Health and Welfare (IAHW) agreement in place for any reviews or follow-ups.</p>

      <p class="govuk-body">This service provides funding for farm visits to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>reduce endemic diseases and conditions</li>
          <li>increase animal productivity</li>
          <li>improve animal welfare</li>
        </ul>

      <p class="govuk-body">A vet, or a team chosen by a vet, can do these visits. If a farmer is a vet, they must use another vet and should not do the visit themselves.

      <p class="govuk-body">There are 2 parts to the service:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>animal health and welfare review</li>
          <li>endemic disease follow-up</li>
        </ul>
      </p>

      <div class="govuk-inset-text">
        Endemic disease follow-up is not available for dairy cattle yet. This part of the service will be available soon.
      </div>


      <!-- Farmers funding section -->

      <h2 id="farmers-apply-for-funding" class="govuk-heading-m">
        Farmers: apply for funding
      </h2>
      <p class="govuk-body">Farmers should read this guidance to find out:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what the service is</li>
          <li>how much you could get</li>
          <li>whether you're eligible</li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="guidance-apply" class="govuk-link govuk-heading-s">Farmers: how to apply for funding to improve animal health and welfare</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Farmers and vets review section -->

      <h2 id="farmers-and-vets-arrange-and-do-a-review" class="govuk-heading-m">
        Farmers and vets: arrange and do a review
      </h2>
      <p class="govuk-body">Farmer and vets should read this guidance to find out what:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>farmers must ask vets to do on an annual health and welfare review</li>
          <li>disease and condition testing is required</li>
          <li>documentation farmers need to claim funding</li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Farmers and vets: what happens on an animal health and welfare review</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Vets review section -->

      <h2 id="vets-how-to-do-a-review" class="govuk-heading-m">
        Vets: how to do a review
      </h2>
      <p class="govuk-body">Farmers should ask vets to read this guidance to find out:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how to do the required sampling for testing</li>
          <li>laboratory requirements for testing</li>
          <li>what advice to give farmers as part of a review</li>
        </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Vets need to follow the guidance so that farmers are eligible to claim.
        </strong>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Vets: how to do an animal health and welfare review and endemic disease follow-up</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Farmers: claim funding for the review -->

      <h2 id="farmers-claim-funding-for-the-review" class="govuk-heading-m">
        Farmers: claim funding for the review
      </h2>
      <p class="govuk-body">Farmers should read this guidance to find out:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>when to claim for a review</li>
          <li>what information to provide when you claim funding</li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="guidance-claim-funding-review" class="govuk-link govuk-heading-s">Farmers: how to claim funding to improve animal health and welfare</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Farmers and vets: arrange and do a follow-up -->

      <h2 id="farmers-and-vets-arrange-and-do-a-follow-up" class="govuk-heading-m">
        Farmers and vets: arrange and do a follow-up
      </h2>
      <p class="govuk-body">Farmer and vets should read this guidance to find out what:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>farmers must ask vets to do on an endemic disease follow-up</li>
          <li>disease and condition testing is required</li>
          <li>documentation farmers need to claim funding</li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Farmers and vets: what happens on an endemic disease follow-up</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Vets: how to do a follow-up -->

      <h2 id="vets-how-to-do-a-follow-up" class="govuk-heading-m">
        Vets: how to do a follow-up
      </h2>
      <p class="govuk-body">Farmers should ask vets to read this guidance to find out:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how to do the required sampling for testing</li>
          <li>laboratory requirements for testing</li>
          <li>what advice to give farmers as part of a follow-up</li>
        </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Vets need to follow the guidance so that farmers are eligible to claim.
        </strong>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Vets: how to do an animal health and welfare review and endemic disease follow-up</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Farmers: claim funding for the follow-up -->

      <h2 id="farmers-claim-funding-for-the-follow-up" class="govuk-heading-m">
        Farmers: claim funding for the follow-up
      </h2>
      <p class="govuk-body">Farmers should read this guidance to find out:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>when to claim for a follow-up</li>
          <li>what information to provide when you claim</li>
        </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Farmers: how to claim funding to improve animal health and welfare</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">10 October 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Terms and conditions -->

      <h2 id="terms-and-conditions" class="govuk-heading-m">
        Terms and conditions
      </h2>
      <p class="govuk-body">Farmers who enter into an agreement to get funding to improve animal health and welfare must follow the agreement terms and conditions.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Get funding to improve animal health and welfare: terms and conditions</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">19 June 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Statutory guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


      <!-- Other sources of funding -->

      <h2 id="other-sources-of-funding" class="govuk-heading-m" >
        Other sources of funding
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-body">
        <a href="#" class="govuk-link govuk-heading-s">Funding for farmers, growers and land managers</a>
          <div style="display: flex;">
          <span class="govuk-caption-m govuk-!-font-size-16" style="margin-right: 1rem;">18 September 2024</span>
          <span class="govuk-caption-m govuk-!-font-size-16">Guidance</span>
          </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p class="govuk-body-s">Published 19 June 2024<br/>Last updated 23 October 2024</p>



    </div>
  </div>

{% endblock %}
