{% extends "layouts/main.html" %}

{% block pageTitle %}
  Funding to improve animal health and welfare: guidance for farmers and vets
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}



{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Collection</span>
      <h1 class="govuk-heading-xl">
        Funding to improve animal health and welfare: guidance for farmers and vets
      </h1>

      <p class="govuk-body">Find out about grants and funding available to improve animal health and welfare in the UK.</p>

      <h2 class="govuk-heading-l">Guidance for Farmers and Vets</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">Animal Health and Welfare Pathway</a></li>
        <li><a href="#" class="govuk-link">Livestock Health and Welfare Review</a></li>
        <li><a href="#" class="govuk-link">Funding Opportunities</a></li>
        <li><a href="#" class="govuk-link">How to Apply for Grants</a></li>
      </ul>



    </div>
  </div>

{% endblock %}
