{% extends "layouts/main-guidance.html" %}

{% block pageTitle %}
  Funding to improve animal health and welfare: guidance for farmers and vets
{% endblock %}

{% block header %}
{{super()}}
{% endblock %}

{% block beforeContent %}
{{super()}}
<div class="gem-c-contextual-breadcrumbs">
    <div class="govuk-!-display-none-print">
      <nav data-module="ga4-link-tracker" aria-label="Breadcrumb" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-ga4-link-tracker-module-started="true">
        <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;4&quot;}" class="govuk-breadcrumbs__link" href="https://www.gov.uk/">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;4&quot;}" class="govuk-breadcrumbs__link" href="https://www.gov.uk/environment">Environment</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_total&quot;:&quot;4&quot;}" class="govuk-breadcrumbs__link" href="https://www.gov.uk/environment/food-and-farming">Food and farming</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;4&quot;,&quot;index_total&quot;:&quot;4&quot;}" class="govuk-breadcrumbs__link" href="https://www.gov.uk/environment/farming-food-grants-payments">Farming and food grants and payments</a>
              </li>
        </ol>
      </nav>
    </div>
</div>
{% endblock %}

{% block content %}
  
{% endblock %}
