{% extends "layouts/main.html" %}

{% set pageName="Sprint Documentation" %}

{% block content %}
{% from "_tags.njk" import statusTag %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      {{ serviceName }}  
    </span>

      <h1 class="govuk-heading-xl">Research prototypes</h1>

      <p class="govuk-body">Here you can find details about the prototypes that have been used for research.<p>

      {# <p class="govuk-body">For build documentation, please go to <a class="govuk-link" href=/ready-for-dev>Ready for dev</a></p>
 #}

    <!-- Sprint Documentation Summary Card -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Multiple herds</h2>
        <p class="govuk-body-s">Last changed: 19 March 2025</p>
      </div>

      <div class="govuk-summary-card__content">

        <!-- User research links -->
        <h4 class="govuk-heading-s">Prototype for research</h4>
        <p class="govuk-body"><a class="govuk-link" href="/prototypes/v02/index-research.html">Link to prototype</a><br>


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <!-- Sprint Goal Section -->
        <h4 class="govuk-heading-s">Goal</h4>
        <p class="govuk-body">Enable users to claim for more than one herd.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
      </div>
    </div>



    <!-- Sprint Documentation Summary Card -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Multiple species</h2>
        <p class="govuk-body-s">Last changed: 31 October 2024</p>
      </div>

      <div class="govuk-summary-card__content">

        <!-- User research links -->
        <h4 class="govuk-heading-s">Prototype for research</h4>
        <p class="govuk-body"><a class="govuk-link" href="/prototypes/v01/index-research.html">User journeys for research</a><br>
        {# <a class="govuk-link" href="/prototypes/v01/manage-your-claims.html">Manage your claims</a></p> #}


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <!-- Sprint Goal Section -->
        <h4 class="govuk-heading-s">Goal</h4>
        <p class="govuk-body">Enable users to claim for more than one species.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

{# 
        <!-- Hypotheses -->
        <h4 class="govuk-heading-s">Hypotheses and questions</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Are these changes sufficient for us to launch multiple species?</li>

        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <!-- What We Changed -->
        <h4 class="govuk-heading-s">What We Changed</h4>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Page</th>
              <th class="govuk-table__header">Changes</th>
              <th class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/prototypes/v01/manage-your-claims">Manage your claims</a>
              </td>
              <td class="govuk-table__cell">Added sortable table, improved visual hierarchy.</td>
              <td class="govuk-table__cell">
                {{ statusTag("Design in progress") }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="/prototype/page2">TBC</a>
              </td>
              <td class="govuk-table__cell">TBC</td>
              <td class="govuk-table__cell">
                {{ statusTag("Design in progress") }}
              </td>
            </tr>
          </tbody>
        </table>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">


        <!-- Key Insights from Research -->
        <h4 class="govuk-heading-s">Key Insights from Research</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>TBC. E.g. "Participants prefer this and this is why."</li>
        </ul> 
        #}

      </div>
    </div>
{#     
    <h2 class="govuk-heading-m">Status tags</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Tag</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Ready for dev</td>
          <td class="govuk-table__cell">{{ statusTag("Ready for dev") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Design in progress</td>
          <td class="govuk-table__cell">{{ statusTag("Design in progress") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tested - High confidence</td>
          <td class="govuk-table__cell">{{ statusTag("Tested - High confidence") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tested - Medium confidence</td>
          <td class="govuk-table__cell">{{ statusTag("Tested - Medium confidence") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tested - Low confidence</td>
          <td class="govuk-table__cell">{{ statusTag("Tested - Low confidence") }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Ready for UR</td>
          <td class="govuk-table__cell">{{ statusTag("Ready for UR") }}</td>
        </tr>
      </tbody>
    </table> #}

    

  </div>
</div>
{% endblock %}
