{% extends "layouts/main.html" %}

{% set pageName="Sprint Documentation" %}

{% block content %}
{% from "_tags.njk" import statusTag %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">
      {{ serviceName }}  
    </span>

      <h1 class="govuk-heading-xl">Ready for dev</h1>

       <!-- MoJ Sortable Table -->
    <table class="govuk-table" data-module="moj-sortable-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Multiple species (November 2024)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Jira Ticket</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Name and Description</th>
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last Changed</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Responsible</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {# </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Guidance collection page (no PI hunt)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/guidance-collection">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Content</td>  
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Guidance: Apply for funding (no PI hunt)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/guidance-apply">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Content</td>  
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Guidance: How to claim funding (review) (no PI hunt)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/guidance-claim-funding-review">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Content</td>  
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr> #}
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Agreement: you can claim for multiple species</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/you-can-claim-multiple">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>  
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Agreement: minimum number</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/agreement-minimum-number">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241017">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td> 
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Agreement: timing rules</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/agreement-timings">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>   
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Agreement: review offer</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/agreement-minimum-number">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>   
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Email: agreement confirmation</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/email-agreement-confirmation">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev/content</td>  
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Email: existing user - multispecies change</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/email-change">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Content</td>   
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Email: claim for review confirmation</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/email-claim-review-confirmation">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev/content</td>   
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Manage your claims (empty state)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/manage-your-claims">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>   
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Manage your claims (1 claim)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/manage-your-claims-after-submit">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>   
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Manage your claims (1 claim)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/manage-your-claims-after-submit">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>  
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Manage your claims (4 claims, notification)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/manage-your-claims-complex-notification">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>    
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Manage your claims (4 claims, no notification)</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/manage-your-claims-complex">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>    
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Claim: which species are you claiming for?</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/animal-type">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>    
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">AHWR-000</td>
          <td class="govuk-table__cell">Claim: are you claming for review/follow-up?</td>
          <td class="govuk-table__cell"><a href="ready-for-dev/multispecies-pages/claim-type">View</a></td>
          <td class="govuk-table__cell" data-sort-value="20241010">12 November 2024</td>
          <td class="govuk-table__cell">Dev</td>    
          <td class="govuk-table__cell">
            {{ statusTag("Design in progress") }}
          </td>
        </tr>


      </tbody>
    </table>



  </div>
</div>
{% endblock %}
