{% extends "layouts/main.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
    {{ govukHeader({
      homepageUrl: "holding-page",
      serviceName: "Get funding to improve animal health and welfare",
      serviceUrl: "#"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your agreement number<br><strong>IAHW-9154-8827</strong>"
      }) }}

      <p>
        Your application has been successful.
      </p>

      <p>
        We have sent you a confirmation email and your agreement summary.
      </p>

      <h2 class="govuk-heading-m">
        What you need to do next
      </h2>

      <ol class="govuk-list govuk-list--bullet">
        <li>Contact the vet to arrange a review and give them your new agreement number.</li>
        <li>The review must be done at least 10 months after the date of your last review. This is the date the vet last visited your farm for the review. This still applies if your review claim was rejected.</li>
        <li>Read the guidance about <a href="#">what happens on an animal health and welfare review.</a></li>
        <li>The guidance explains what you must ask the vet to do and what's optional.</li>
        <li>Ask the vet to read the guidance on <a href="#">how to do an animal health and welfare review and endemic disease follow-up</a>. This is important because the vet needs to follow the guidance closely so that you are eligible to claim.</li>
        <li>After the vet has completed the review, you can claim your funding. Read the guidance on <a href="#">how to claim funding to improve animal health and welfare.</a>
      </ol>

      <h2 class="govuk-heading-m">
        Get help with your application
      </h2>

      <p>
        Contact the Rural Payments Agency and give your agreement number if you:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>need to change your application</li>
        <li>decide you do not want a review after you have accepted your agreement offer</li>
        <li>have a question about your application</li>
      </ul>

      <h2 class="govuk-heading-m">Rural Payments Agency</h2>
      <p>
        Email: 
        <a href="#">
          ruralpayments@defra.gov.uk</a>
      </p>

      <ul class="govuk-list">
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday: 9:30am to 5pm; except bank holidays</li>
      </ul>

      <p>
        <a href="#">
          Find out about call charges (opens in a new tab)</a>
      </p>

      <p>
        <a href="#">
          What did you think of this service?</a> (giving feedback takes about 5 minutes)
      </p>


    </div>
  </div>

{% endblock %}
