{% extends "layouts/main-wide.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
  <style>
    .govuk-width-container {
      max-width: 100%;
      margin-left: 80px;
      margin-right: 80px;
    }
  </style>
{% endblock %}

{% block header %}
  <!-- Header for v1 -->
  {{ govukHeader({
    homepageUrl: "holding-page",
    serviceUrl: "../index-research"
  }) }}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    navigation: [
      {
        href: "claims.html",
        text: "Claims",
        attributes: {
          style: "visibility: auto;"
        },
        active: true
      },
      {
        href: "agreements.html",
        text: "Agreements",
        attributes: {
          style: "visibility: auto;"
        }
      },
      {
        href: "#",
        text: "Carlos Bernardo Jr",
        attributes: {
          style: "font-weight: 300; margin-left: 18rem;"
        }
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  })}}
{% endblock %}

{# {% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>
{% endblock %} #}


{% block footer %}
    {{ govukFooter({
    meta: {
        items: [
        {
            href: "https://www.gov.uk/government/publications/get-funding-to-improve-animal-health-and-welfare-privacy-notice",
            text: "Privacy notice"
        },
        {
            href: "#",
            text: "Accessibility"
        },
        {
            href: "#",
            text: "Cookies"
        }
        ]
    }
    }) }}
{% endblock %}
