{% extends "layouts/main-wide.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% set serviceName %}
Administration of the health and welfare of your livestock
{% endset%}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
  <style>
    .govuk-width-container {
      max-width: 100%;
      margin-left: 80px;
      margin-right: 80px;
    }

    /* SEARCH BAR */
    .gem-c-search__item-wrapper {
      display: table;
      width: 100%;
      background: #fff;
    }
    .gem-c-search-with-autocomplete__wrapper {
      position: relative;
    }
    .gem-c-search--large .gem-c-search__input[type=search] {
      height: 50px;
    }

    .gem-c-search--on-white .gem-c-search__input[type=search] {
      border-right-width: 0;
    }
    .gem-c-search__input[type=search] {
      margin: 0;
      width: 100%;
      height: 2.1052631579em;
      padding: .3157894737em;
      border: 2px solid #0b0c0c;
      border-right: none;
      background: #fff;
      border-radius: 0;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-family: "GDS Transport", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 1.1875rem;
      line-height: 1.4736842105;
    }
    .gem-c-search__item {
      position: relative;
      display: table-cell;
      vertical-align: top;
    }

    .gem-c-search-with-autocomplete.gem-c-search-with-autocomplete--large .gem-c-search-with-autocomplete__menu {
      margin-right: -50px;
    }

    .gem-c-search-with-autocomplete__menu--inline {
      position: relative;
    }
    .gem-c-search-with-autocomplete__menu--hidden {
      display: none;
    }
    .gem-c-search-with-autocomplete__menu {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      background-color: #fff;
      border: 1px solid #b1b4b6;
      border-top: 0;
      margin-right: -40px;
    }
    .gem-c-search__submit-wrapper {
      width: 1%;
    }
    .gem-c-search__item {
      position: relative;
      display: table-cell;
      vertical-align: top;
    }
    .gem-c-search--large .gem-c-search__submit {
      width: 50px;
      height: 50px;
    }

    .gem-c-search--on-white .gem-c-search__submit {
      background-color: #1d70b8;
      color: #fff;
    }
    .gem-c-search__submit {
      border: 0;
      cursor: pointer;
      border-radius: 0;
      outline: 2px solid rgba(0, 0, 0, 0);
      outline-offset: 0;
      position: relative;
      padding: 0;
      width: 40px;
      height: 40px;
      text-indent: -5000px;
      overflow: hidden;
      background-color: #1d70b8;
      color: #fff;
    }
    .gem-c-search--large .gem-c-search__submit .gem-c-search__icon {
      transform: scale(0.4);
    }

    .gem-c-search__submit .gem-c-search__icon {
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform: scale(0.5);
    }

    .flagged-item {
      background-color: rgba(255, 221, 0, 0.25);
    }

    .govuk-summary-list__actions {
      width: 2em
    }
    .govuk-summary-list__value {
        width: 50%;
    }

    .iahw-table-tag {
      margin-top: 8px;
      white-space: nowrap;
      display: block;
      max-width: 100%;
      width: fit-content;
    }

    @media (max-width: 1310px) {
      .govuk-table td,
      .govuk-table th {
        font-size: 14px !important;
      }
      .responsive-text {
        font-size: 14px !important;
      }
    }

    @media (max-width: 1575px) {
      .govuk-table td,
      .govuk-table th {
        font-size: 16px !important;
      }
      .responsive-text {
        font-size: 16px !important;
      }
    }

    .iahw-filters-group {
      vertical-align: bottom;
    }

    .iahw-filters-group .govuk-grid-column-one-quarter {
      width: auto;
    }
    {# .govuk-tag {
      display: block !important;
      white-space: nowrap !important;
    } #}
  </style>
{% endblock %}

{# govuk-service-navigation__item--active #}
        {# active: true #}

{% block header %}
  <!-- Header for v1 -->
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/"
  }) }}
  {# {{ govukServiceNavigation({
    serviceName: serviceName,
    navigation: [
      {
        href: "/prototypes/v05/backoffice/claims.html",
        text: "Claims",
        attributes: {
          id: "claims",
          style: "visibility: auto;"
        }
      },
      {
        href: "/prototypes/v05/backoffice/agreements.html",
        text: "Agreements",
        attributes: {
          id: "agreements",
          style: "visibility: auto;"
        }
      },
      {
        href: "/prototypes/v05/backoffice/flags.html",
        text: "Flags",
        attributes: {
          id: "flags",
          style: "visibility: auto;"
        }
      },
      {
        href: "/prototypes/v05/backoffice/audit.html",
        text: "Change log",
        attributes: {
          id: "audit",
          style: "visibility: auto;"
        }
      },
      {
        href: "#",
        text: "Carlos Bernardo Jr",
        attributes: {
          style: "visibility: auto; text-align: right; margin-left: 4em;",
          id: "rpa-user-name"
        }
      },
      {
        href: "#",
        text: "Sign out",
        attributes: {
          id: "audit",
          style: "visibility: auto;"
        }
      }
    ]
  })}} #}

<section aria-label="Service information" class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/prototypes/v05/backoffice/index-research.njk" class="govuk-service-navigation__link">
          {{serviceName}}
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
             {# govuk-service-navigation__item--active #}
            <a id="claims" class="govuk-service-navigation__link" href="/prototypes/v05/backoffice/claims.html?changed=no" aria-current="true">
              Claims
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a id="agreements" class="govuk-service-navigation__link" href="/prototypes/v05/backoffice/agreements.html">
              <strong class="govuk-service-navigation__active-fallback">Agreements</strong>
            </a>
          </li>

          {% if data['backoffice-user'] != 'team' %}
          <li class="govuk-service-navigation__item">
            <a id="flags" class="govuk-service-navigation__link" href="/prototypes/v05/backoffice/flags.html">
              Flags
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a id="audit" class="govuk-service-navigation__link" href="/prototypes/v05/backoffice/audit.html">
              Change log
            </a>
          </li>
          {% endif %}

          <li class="govuk-service-navigation__item" style="visibility: auto; text-align: right; margin-left: 4em;">
            <a id="rpa-user-name" class="govuk-service-navigation__link" href="#">
              Carlos Bernardo Jr
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="#">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>



{% endblock %}

{# {% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>
{% endblock %} #}


{% block footer %}
    {{ govukFooter({
    meta: {
        items: [
        {
            href: "https://www.gov.uk/government/publications/get-funding-to-improve-animal-health-and-welfare-privacy-notice",
            text: "Privacy notice"
        },
        {
            href: "#",
            text: "Accessibility"
        },
        {
            href: "#",
            text: "Cookies"
        }
        ]
    }
    }) }}
{% endblock %}


{% block pageScripts %}
{{ super() }}
<script>
  $(document).ready(function() {
    $("#rpa-user-name").parent().css({"flex-grow": "1", "text-align":"right"});
  });
</script>
{% endblock %}
